{% assign house_href = "/huizen/" | append: house.city_clean | append: "/" | append: house.street_clean | append: "/" | append: house.slug %}
{% assign slug_key = house.slug | prepend: "|" | append: "|" %}
{% assign vt_name = house.slug %}
{% assign seen_vt_slugs = seen_vt_slugs | append: slug_key %}

<article class="house-card">
    <section class="house-image-wrapper">
        {% if house.poster_image %}
            {% render 'partials/image-link.liquid',
                href: house_href,
                imagesrc: house.poster_image,
                vt_name: vt_name,
                fetch: "auto",
                width: "800",
                height: "800",
                custom_class: "poster gallery-item",
            %}
        {% endif %}
    </section>
    <section class="content-card">
        <a href="{{ house_href }}">{{ house.street }} {{ house.house_nr }}{{ house.nr_addition }}</a>
        <p>{{ house.postal_code }} {{ house.city }}</p>
        <p class="house-price breathingspace">
            {% if house.price %}
            &euro; {{ house.price }} k.k.
            {% else %}
            Prijs op aanvraag
            {% endif %}
        </p>

        <section class="house-specs">
            <p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1394V7.8894C20.4018 7.53919 21.1346 6.43577 21.0163 5.2516C20.898 4.06742 19.9614 3.13078 18.7772 3.01249C17.593 2.89419 16.4896 3.62703 16.1394 4.7644H7.8894C7.53919 3.62703 6.43577 2.89419 5.2516 3.01249C4.06742 3.13078 3.13078 4.06742 3.01249 5.2516C2.89419 6.43577 3.62703 7.53919 4.7644 7.8894V16.1394C3.62703 16.4896 2.89419 17.593 3.01249 18.7772C3.13078 19.9614 4.06742 20.898 5.2516 21.0163C6.43577 21.1346 7.53919 20.4018 7.8894 19.2644H16.1394C16.4896 20.4018 17.593 21.1346 18.7772 21.0163C19.9614 20.898 20.898 19.9614 21.0163 18.7772C21.1346 17.593 20.4018 16.4896 19.2644 16.1394ZM16.1394 17.7644H7.8894C7.64354 16.9911 7.03768 16.3853 6.2644 16.1394V7.8894C7.03768 7.64354 7.64354 7.03768 7.8894 6.2644H16.1394C16.3853 7.03768 16.9911 7.64354 17.7644 7.8894V16.1394C16.9911 16.3853 16.3853 16.9911 16.1394 17.7644ZM18.5144 4.5144C19.0667 4.5144 19.5144 4.96212 19.5144 5.5144C19.5144 6.06669 19.0667 6.5144 18.5144 6.5144C17.9621 6.5144 17.5144 6.06669 17.5144 5.5144C17.5144 4.96212 17.9621 4.5144 18.5144 4.5144ZM5.5144 4.5144C6.06669 4.5144 6.5144 4.96212 6.5144 5.5144C6.5144 6.06669 6.06669 6.5144 5.5144 6.5144C4.96212 6.5144 4.5144 6.06669 4.5144 5.5144C4.5144 4.96212 4.96212 4.5144 5.5144 4.5144ZM5.5144 19.5144C4.96212 19.5144 4.5144 19.0667 4.5144 18.5144C4.5144 17.9621 4.96212 17.5144 5.5144 17.5144C6.06669 17.5144 6.5144 17.9621 6.5144 18.5144C6.5144 19.0667 6.06669 19.5144 5.5144 19.5144ZM18.5144 19.5144C17.9621 19.5144 17.5144 19.0667 17.5144 18.5144C17.5144 17.9621 17.9621 17.5144 18.5144 17.5144C19.0667 17.5144 19.5144 17.9621 19.5144 18.5144C19.5144 19.0667 19.0667 19.5144 18.5144 19.5144Z" fill="#4D4D4D"/>
                </svg>
                {{ house.m2 | default: 0 }} m²
            </p>
            <p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 2.75C21.5 2.33579 21.1642 2 20.75 2H3.25C2.83579 2 2.5 2.33579 2.5 2.75V21.25C2.5 21.6642 2.83579 22 3.25 22H20.75C21.1642 22 21.5 21.6642 21.5 21.25V2.75ZM4 7.25H10.5V9.75C10.5 10.1642 10.8358 10.5 11.25 10.5H15V20.5H4V7.25ZM16.5 9.75C16.5 9.33579 16.1642 9 15.75 9H12V6.5C12 6.08579 11.6642 5.75 11.25 5.75H4V3.5H20V20.5H16.5V9.75Z" fill="#4D4D4D"/>
                </svg>
                {{ house.total_m2 }} m²
            </p>
            <p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10L22 13V17.75C22 18.1642 21.6642 18.5 21.25 18.5H19.5V19.25C19.5 19.6642 19.1642 20 18.75 20C18.3358 20 18 19.6642 18 19.25V18.5H6V19.25C6 19.6642 5.66421 20 5.25 20C4.83579 20 4.5 19.6642 4.5 19.25V18.5H2.75C2.33579 18.5 2 18.1642 2 17.75V13L4 10V4.75C4 4.33579 4.33579 4 4.75 4H19.25C19.6642 4 20 4.33579 20 4.75V10ZM18.5 5.5H5.5V8.5H8.5V7.75C8.5 7.33579 8.83579 7 9.25 7H14.75C15.1642 7 15.5 7.33579 15.5 7.75V8.5H18.5V5.5ZM5.5 10L3.5 13H20.5L18.5 10H15.5V10.75C15.5 11.1642 15.1642 11.5 14.75 11.5H9.25C8.83579 11.5 8.5 11.1642 8.5 10.75V10H5.5ZM3.5 17V14.5H20.5V17H3.5ZM10 8.5V10H14V8.5H10Z" fill="#4D4D4D"/>
                </svg>
                {{ house.rooms }}
            </p>
            <p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8376 6.44552L8.41164 12.9768L11.9275 13.7908L12.1735 17.7268L15.829 11.0404L12.0738 10.2253L11.8376 6.44552ZM13.0625 1.99704L13.5002 9.00001L16.6369 9.68085C17.4472 9.85673 17.7847 10.5901 17.3868 11.3181L11.4775 22.1269C11.2129 22.6109 10.9723 22.5536 10.9379 22.003L10.5002 15L7.64332 14.3386C6.83705 14.1519 6.49345 13.4045 6.87879 12.6699L12.5368 1.88333C12.7924 1.39617 13.0281 1.4464 13.0625 1.99704Z" fill="#4D4D4D"/>
                </svg>
                {{ house.energy_label }}
            </p>
        </section>
    </section>
</article>