{% layout "layouts/main-layout.liquid" %}

{% block content %}
    {% assign clean_street = house.street | strip %}
    {% assign clean_nr = house.house_nr | strip %}
    {% assign current_house = clean_street | append: " " | append: clean_nr %}

    {% render 'partials/breadcrumbs.liquid' house: house, current_house: current_house %}
        {% comment %}
            Section displaying a gallery, mobile first uses the poster image and the gallery
        {% endcomment %}
        <section class="gallery">
            <a class="gallery-item" href="/huis/{{ house.slug }}/media/fotos">
                {% if house.poster_image.id %}
                    <img class="poster" src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="Hoofdfoto van {{ house.street | strip }}">
                {% endif %}
            </a>
            
            {% if house.gallery and house.gallery.size > 0 %}
                {% for item in house.gallery %}
                    {% if item.directus_files_id %}
                        <a class="gallery-item" href="/huis/{{ house.slug }}/media/fotos">
                            <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" alt="Extra foto van {{ house.street | strip }}">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>
    
        <section class="media max-width">
            <nav class="extras"> 
                <a class="all-pictures" href="/huis/{{ house.slug }}/media/fotos">
                    <figure>
                        <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 1.5H1.5V12.5H2V14H0.75C0.335786 14 0 13.6642 0 13.25V0.75C0 0.335786 0.335786 0 0.75 0H15.25C15.6642 0 16 0.335786 16 0.75V2H14.5V1.5Z" fill="#0071B3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 3H18.25C18.6642 3 19 3.33579 19 3.75V16.25C19 16.6642 18.6642 17 18.25 17H3.75C3.33579 17 3 16.6642 3 16.25V3.75C3 3.33579 3.33579 3 3.75 3ZM17.5 4.5H4.5V15.5H17.5V4.5Z" fill="#0071B3"/>
                        </svg>
                    </figure>
                    <figcaption>
                        Foto's 
                        <span>{{ house.gallery.size }}</span>
                    </figcaption>
                </a>

                <a href="/huis/{{ house.slug }}/media/plattegrond">
                    <figure class="map">
                        <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 3.75C21 3.33579 20.6642 3 20.25 3H3.75C3.33579 3 3 3.33579 3 3.75V20.25C3 20.6642 3.33579 21 3.75 21H9V19.5H4.5V4.5H19.5V19.5H15.62L10.4 14.28L9.34 15.34L15 21H20.25C20.6642 21 21 20.6642 21 20.25V3.75Z" fill="white"/>
                        </svg>

                    </figure>
                    <figcaption>
                        Plattegrond
                    </figcaption>
                </a>

                <a href="/huis/{{ house.slug }}/media/360fotos">
                    <figure class="treesixty">
                        <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5181 4.75002C20.5181 4.3358 20.1823 4.00002 19.7681 4.00002H14.7681C14.3539 4.00002 14.0181 4.3358 14.0181 4.75002V9.75002C14.0181 10.1642 14.3539 10.5 14.7681 10.5C15.1823 10.5 15.5181 10.1642 15.5181 9.75002V6.25002C18.3575 8.22143 19.3328 11.9703 17.8141 15.0755C16.2953 18.1807 12.7373 19.7124 9.43795 18.6814C6.13858 17.6503 4.08582 14.3653 4.60541 10.9478C5.125 7.53038 8.06135 5.00388 11.5181 5.00002V3.50002C7.39312 3.49165 3.85757 6.44608 3.13298 10.5069C2.4084 14.5677 4.70395 18.5626 8.57723 19.9814C12.4505 21.4002 16.7834 19.8333 18.8532 16.2652C20.9231 12.6972 20.1324 8.15806 16.9781 5.50002H19.7681C20.1823 5.50002 20.5181 5.16423 20.5181 4.75002Z" fill="white"/>
                        </svg>
                    </figure>
                    <figcaption>
                        360° foto's
                    </figcaption>
                </a>

                <a href="/huis/{{ house.slug }}/media/video">
                    <figure class="video">
                        <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6967 11.625C20.6321 11.5258 20.5447 11.4435 20.4417 11.385L20.3867 11.34L7.77669 3.15003L7.69669 3.11003H7.65169L7.56169 3.08003H7.50669L7.41669 3.03003H7.21169C7.00704 3.06402 6.82584 3.18181 6.71169 3.35503C6.69251 3.38704 6.67579 3.42047 6.66169 3.45503C6.64738 3.48909 6.63568 3.52419 6.62669 3.56003V3.60003C6.62444 3.63332 6.62444 3.66673 6.62669 3.70003C6.62669 3.70003 6.62669 3.73003 6.62669 3.74503V20.245C6.62669 20.245 6.62669 20.275 6.62669 20.29C6.62445 20.3233 6.62445 20.3567 6.62669 20.39V20.43C6.63568 20.4659 6.64738 20.501 6.66169 20.535C6.67719 20.5714 6.69558 20.6066 6.71669 20.64C6.83084 20.8133 7.01204 20.931 7.21669 20.965H7.56669L7.65669 20.935H7.69669L7.77669 20.895L20.4817 12.645C20.8165 12.4185 20.9116 11.9674 20.6967 11.625ZM8.11669 5.16003L18.6967 12.03L8.11669 18.9V5.16003Z" fill="#0071B3"/>
                        </svg>
                    </figure>
                    <figcaption>
                        Video
                    </figcaption>
                </a>
            </nav>

            <a class="all-media" href="/huis/{{ house.slug }}/media/fotos">
                <figure>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2506 4.41613e-07H0.7506C0.651687 -1.31131e-06 0.55375 0.0195626 0.462428 0.0575659C0.371106 0.0955692 0.288204 0.151261 0.218495 0.221436C0.148785 0.29161 0.0936448 0.374881 0.0562491 0.466453C0.0188534 0.558025 -5.9139e-05 0.65609 0.000600285 0.755001V7.255C-0.00344245 7.35599 0.0129673 7.45675 0.048844 7.55124C0.0847208 7.64572 0.139325 7.73198 0.209375 7.80483C0.279426 7.87769 0.363479 7.93563 0.456485 7.97518C0.549492 8.01473 0.649533 8.03508 0.7506 8.035H8.2506C8.44951 8.035 8.64028 7.95598 8.78093 7.81533C8.92158 7.67468 9.0006 7.48391 9.0006 7.285V0.785001C9.00534 0.683604 8.98944 0.582302 8.95388 0.487229C8.91831 0.392156 8.86382 0.305291 8.7937 0.231897C8.72358 0.158503 8.63929 0.100108 8.54593 0.0602469C8.45258 0.0203862 8.35211 -0.000109706 8.2506 4.41613e-07ZM1.5006 1.505H7.5006V6.535H1.5006V1.505Z" fill="#0071B3"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.750616 10.0349H8.25062C8.44953 10.0349 8.64029 10.1139 8.78095 10.2546C8.9216 10.3952 9.00062 10.586 9.00062 10.7849V17.2849C9.00062 17.4838 8.9216 17.6746 8.78095 17.8152C8.64029 17.9559 8.44953 18.0349 8.25062 18.0349H0.750616C0.651277 18.0349 0.552927 18.0152 0.461275 17.9769C0.369623 17.9386 0.286495 17.8824 0.216719 17.8117C0.146943 17.741 0.091908 17.6571 0.0548104 17.565C0.0177129 17.4728 -0.000708523 17.3742 0.000615991 17.2749V10.7749C0.00324521 10.5777 0.083422 10.3895 0.22379 10.251C0.364159 10.1125 0.553424 10.0349 0.750616 10.0349ZM7.50062 11.5349H1.50062V16.5349H7.50062V11.5349Z" fill="#0071B3"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7506 10.0349H19.2506C19.4495 10.0349 19.6403 10.1139 19.7809 10.2546C19.9216 10.3952 20.0006 10.586 20.0006 10.7849V17.2849C20.0006 17.4838 19.9216 17.6746 19.7809 17.8152C19.6403 17.9559 19.4495 18.0349 19.2506 18.0349H11.7506C11.5517 18.0349 11.3609 17.9559 11.2203 17.8152C11.0796 17.6746 11.0006 17.4838 11.0006 17.2849V10.7849C11.0006 10.586 11.0796 10.3952 11.2203 10.2546C11.3609 10.1139 11.5517 10.0349 11.7506 10.0349ZM18.5006 11.5349H12.5006V16.5349H18.5006V11.5349Z" fill="#0071B3"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7506 0.0349126H19.2506C19.4495 0.0349126 19.6403 0.11393 19.7809 0.254582C19.9216 0.395235 20.0006 0.586 20.0006 0.784913V7.28491C20.0006 7.48382 19.9216 7.67459 19.7809 7.81524C19.6403 7.95589 19.4495 8.03491 19.2506 8.03491H11.7506C11.6508 8.03493 11.5521 8.01505 11.4601 7.97642C11.3681 7.9378 11.2847 7.88121 11.2149 7.80997C11.1451 7.73873 11.0901 7.65427 11.0533 7.56153C11.0165 7.4688 10.9986 7.36966 11.0006 7.26991V0.769912C11.0045 0.573611 11.0853 0.386677 11.2255 0.249253C11.3657 0.111829 11.5543 0.0348733 11.7506 0.0349126ZM18.5006 1.53491H12.5006V6.53491H18.5006V1.53491Z" fill="#0071B3"/>
                </svg>
                </figure>
                <figcaption>
                    Alle media
                </figcaption>
            </a>
        </section>

        <span class="seperator"></span>

        <div class="main-aside-wrapper max-width">

            <section class="details breathingspace">
                {% assign badge_text = "nieuw" %}
                {% assign enerylabel = "A" %}
                {% assign total_m2 = house.m2 | plus: house.m2_garden %}
                <article class="house-details">
                    <p class="badge breathingspace">{{ badge_text }}</p>
                    <h1 class="street breathingspace">{{ current_house }}</h1>
                    <p class="postalcode breathingspace">{{ house.postal_code }} 
                        <a breathingspace href="/huizen/{{ house.city }}">{{ house.city }}</a>
                    </p>
                    <h2 class="price breathingspace">€ {{ house.price | divided_by: 1000 }}.000 k.k. 
                        <a class="calculator breathingspace" href="/maandlasen/{{ house.slug }}">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11Z" fill="#0071B3"/>
                                <path d="M12 12C12.5523 12 13 11.5523 13 11C13 10.4477 12.5523 10 12 10C11.4477 10 11 10.4477 11 11C11 11.5523 11.4477 12 12 12Z" fill="#0071B3"/>
                                <path d="M17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11Z" fill="#0071B3"/>
                                <path d="M8 15.5C8.55228 15.5 9 15.0523 9 14.5C9 13.9477 8.55228 13.5 8 13.5C7.44772 13.5 7 13.9477 7 14.5C7 15.0523 7.44772 15.5 8 15.5Z" fill="#0071B3"/>
                                <path d="M13 14.5C13 15.0523 12.5523 15.5 12 15.5C11.4477 15.5 11 15.0523 11 14.5C11 13.9477 11.4477 13.5 12 13.5C12.5523 13.5 13 13.9477 13 14.5Z" fill="#0071B3"/>
                                <path d="M16 15.5C16.5523 15.5 17 15.0523 17 14.5C17 13.9477 16.5523 13.5 16 13.5C15.4477 13.5 15 13.9477 15 14.5C15 15.0523 15.4477 15.5 16 15.5Z" fill="#0071B3"/>
                                <path d="M9 18C9 18.5523 8.55228 19 8 19C7.44772 19 7 18.5523 7 18C7 17.4477 7.44772 17 8 17C8.55228 17 9 17.4477 9 18Z" fill="#0071B3"/>
                                <path d="M12 19C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17C11.4477 17 11 17.4477 11 18C11 18.5523 11.4477 19 12 19Z" fill="#0071B3"/>
                                <path d="M17 18C17 18.5523 16.5523 19 16 19C15.4477 19 15 18.5523 15 18C15 17.4477 15.4477 17 16 17C16.5523 17 17 17.4477 17 18Z" fill="#0071B3"/>
                                <path d="M7.75 5C7.33579 5 7 5.33579 7 5.75V7.25C7 7.66421 7.33579 8 7.75 8H16.25C16.6642 8 17 7.66421 17 7.25V5.75C17 5.33579 16.6642 5 16.25 5H7.75Z" fill="#0071B3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 2H19.25C19.6642 2 20 2.33579 20 2.75V21.25C20 21.6642 19.6642 22 19.25 22H4.75C4.33579 22 4 21.6642 4 21.25V2.75C4 2.33579 4.33579 2 4.75 2ZM18.5 3.5H5.5V20.5H18.5V3.5Z" fill="#0071B3"/>
                            </svg>
                            Wat worden mijn maandlasten?
                        </a>
                    </h2>
                </article>

                <figure class="map">
                    <a href="/huis/{{ house.slug }}/kaart">
                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="60" height="60" rx="4" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.012 39.0099H26.943V7.78894H22.096C21.449 7.78894 20.839 8.04194 20.38 8.49994L13.791 15.0889V34.0169C16.283 34.6599 18.266 36.5609 19.012 39.0099Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.94549 0.00012207H3.49849C1.56649 0.00012207 0.000488281 1.56612 0.000488281 3.49812V11.9581L9.94549 11.9431V0.00012207Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.30615 41.2732C8.30615 43.2772 9.93115 44.9002 11.9342 44.8982C13.9392 44.8972 15.5632 43.2712 15.5632 41.2662C15.5632 39.2622 13.9392 37.6392 11.9342 37.6412C9.93115 37.6432 8.30615 39.2692 8.30615 41.2732Z" fill="#E3E6E6"/>
                            <mask id="mask0_449_5070" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="60" height="61">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 60.0001H60V0.00012207H0V60.0001Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_449_5070)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.5908 39.0101H48.0268V0.00012207H31.5908V39.0101Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.835 5.95376C18.974 4.81576 20.487 4.18876 22.097 4.18876H26.943V-0.000244141H13.791V9.99776L17.835 5.95376Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.94549 34.0549V15.4479L0.000488281 15.4629V39.0099H4.86149C5.59649 36.6099 7.52049 34.7339 9.94549 34.0549Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.667 59.8563V57.0373C33.667 56.4993 33.454 55.9833 33.073 55.6033L28.253 50.7833C27.371 49.9003 26.875 48.7033 26.875 47.4553V43.3633L19.001 43.3653C18.246 45.7963 16.269 47.6833 13.791 48.3263V59.8623L9.945 59.8633V48.2963C7.527 47.6243 5.605 45.7603 4.866 43.3703L0 43.3713V56.3673C0 58.2993 1.567 59.8663 3.499 59.8653L37.732 59.8553L33.667 59.8563Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M56.4612 0.00012207H51.9712V22.3591H59.9592V3.49812C59.9592 1.56612 58.3932 0.00012207 56.4612 0.00012207Z" fill="#E3E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.9722 39.0102H59.9602V26.3132H51.9722V39.0102Z" fill="#D7E37D"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.6216 46.5988C31.6216 47.1368 31.8346 47.6528 32.2156 48.0328L37.0356 52.8528C37.9176 53.7358 38.4136 54.9328 38.4136 56.1808V59.8548L56.4626 59.8488C58.3936 59.8488 59.9596 58.2828 59.9596 56.3508V43.3528L31.6216 43.3618V46.5988Z" fill="#D5EBF4"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9609 39.0985H19.0247C18.2792 36.644 16.2938 34.7387 13.8002 34.0942V15.1232L20.3946 8.51922C20.8529 8.06018 21.4633 7.8066 22.1117 7.8066H26.9609V39.0985ZM11.9429 45.0009C9.93761 45.0029 8.31153 43.3762 8.31153 41.3667C8.31153 39.3581 9.93761 37.7284 11.9429 37.7264C13.9483 37.7244 15.5744 39.3511 15.5744 41.3596C15.5744 43.3692 13.9483 44.9989 11.9429 45.0009ZM60 26.3727V22.4097H52.0067V-0.00012207H48.059V39.0985H31.6121V-0.00012207H26.961V4.19839H22.1117C20.5007 4.19839 18.9867 4.82682 17.8469 5.9674L13.8002 10.0206V-0.00012207H9.95163V11.971L0 11.985V15.498L9.95163 15.483V34.1322C7.52602 34.8128 5.59973 36.6931 4.86424 39.0985H0V43.4694L4.86925 43.4684C5.60974 45.8638 7.53202 47.7321 9.95163 48.4056V59.9999L13.8002 59.9979V48.4357C16.2799 47.7912 18.2582 45.8999 19.0147 43.4634L26.8929 43.4614V47.5627C26.8929 48.8135 27.3893 50.0132 28.2728 50.8982L33.0951 55.7292C33.4763 56.1111 33.6895 56.6272 33.6895 57.1665V59.9919L38.4396 59.9909V56.3085C38.4396 55.0577 37.9433 53.858 37.0597 52.9729L32.2365 48.142C31.8562 47.7611 31.6431 47.244 31.6431 46.7047V43.4604L60 43.4514V39.0985H52.0067V26.3727H60Z" fill="white"/>
                            </g>
                            <rect x="0.5" y="0.5" width="59" height="59" rx="3.5" stroke="#E6E6E6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.7664 41.0136C34.7664 41.6743 32.6698 42.2102 30.0858 42.2102C27.4989 42.2102 25.4038 41.6743 25.4038 41.0136C25.4038 40.3529 27.4989 39.817 30.0858 39.817C32.6698 39.817 34.7664 40.3529 34.7664 41.0136Z" fill="#EDEFEF"/>
                            <path d="M30 13.6775C31.2865 13.6775 32.56 13.9355 33.7451 14.4363C34.9304 14.9371 36.0036 15.6708 36.9004 16.5935C37.7971 17.5162 38.4999 18.6094 38.9668 19.8083C39.4336 21.0073 39.6557 22.2879 39.6191 23.574C39.6191 31.3862 31.0335 39.722 30.417 40.3152C30.3158 40.4044 30.1856 40.4538 30.0508 40.4539C29.9157 40.4539 29.7848 40.4046 29.6836 40.3152C29.0748 39.7064 20.4745 31.5267 20.3808 23.574C20.3443 22.2879 20.5663 21.0073 21.0332 19.8083C21.5001 18.6094 22.2028 17.5162 23.0996 16.5935C23.9963 15.6709 25.0687 14.9371 26.2539 14.4363C27.4392 13.9354 28.7132 13.6775 30 13.6775Z" fill="#FF9B21"/>
                            <circle cx="29.995" cy="23.3303" r="3.68295" fill="white"/>
                        </svg>

                        <figcaption>
                            Kaart
                        </figcaption>
                    </a>
                </figure>

                <article class="important-info breathingspace">
                    <p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1394V7.8894C20.4018 7.53919 21.1346 6.43577 21.0163 5.2516C20.898 4.06742 19.9614 3.13078 18.7772 3.01249C17.593 2.89419 16.4896 3.62703 16.1394 4.7644H7.8894C7.53919 3.62703 6.43577 2.89419 5.2516 3.01249C4.06742 3.13078 3.13078 4.06742 3.01249 5.2516C2.89419 6.43577 3.62703 7.53919 4.7644 7.8894V16.1394C3.62703 16.4896 2.89419 17.593 3.01249 18.7772C3.13078 19.9614 4.06742 20.898 5.2516 21.0163C6.43577 21.1346 7.53919 20.4018 7.8894 19.2644H16.1394C16.4896 20.4018 17.593 21.1346 18.7772 21.0163C19.9614 20.898 20.898 19.9614 21.0163 18.7772C21.1346 17.593 20.4018 16.4896 19.2644 16.1394ZM16.1394 17.7644H7.8894C7.64354 16.9911 7.03768 16.3853 6.2644 16.1394V7.8894C7.03768 7.64354 7.64354 7.03768 7.8894 6.2644H16.1394C16.3853 7.03768 16.9911 7.64354 17.7644 7.8894V16.1394C16.9911 16.3853 16.3853 16.9911 16.1394 17.7644ZM18.5144 4.5144C19.0667 4.5144 19.5144 4.96212 19.5144 5.5144C19.5144 6.06669 19.0667 6.5144 18.5144 6.5144C17.9621 6.5144 17.5144 6.06669 17.5144 5.5144C17.5144 4.96212 17.9621 4.5144 18.5144 4.5144ZM5.5144 4.5144C6.06669 4.5144 6.5144 4.96212 6.5144 5.5144C6.5144 6.06669 6.06669 6.5144 5.5144 6.5144C4.96212 6.5144 4.5144 6.06669 4.5144 5.5144C4.5144 4.96212 4.96212 4.5144 5.5144 4.5144ZM5.5144 19.5144C4.96212 19.5144 4.5144 19.0667 4.5144 18.5144C4.5144 17.9621 4.96212 17.5144 5.5144 17.5144C6.06669 17.5144 6.5144 17.9621 6.5144 18.5144C6.5144 19.0667 6.06669 19.5144 5.5144 19.5144ZM18.5144 19.5144C17.9621 19.5144 17.5144 19.0667 17.5144 18.5144C17.5144 17.9621 17.9621 17.5144 18.5144 17.5144C19.0667 17.5144 19.5144 17.9621 19.5144 18.5144C19.5144 19.0667 19.0667 19.5144 18.5144 19.5144Z" fill="#4D4D4D"/>
                        </svg>
                        {{ house.m2 }} m² <span>wonen</span>
                    </p>
                    <p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 2.75C21.5 2.33579 21.1642 2 20.75 2H3.25C2.83579 2 2.5 2.33579 2.5 2.75V21.25C2.5 21.6642 2.83579 22 3.25 22H20.75C21.1642 22 21.5 21.6642 21.5 21.25V2.75ZM4 7.25H10.5V9.75C10.5 10.1642 10.8358 10.5 11.25 10.5H15V20.5H4V7.25ZM16.5 9.75C16.5 9.33579 16.1642 9 15.75 9H12V6.5C12 6.08579 11.6642 5.75 11.25 5.75H4V3.5H20V20.5H16.5V9.75Z" fill="#4D4D4D"/>
                        </svg>
                        {{ total_m2 }} m² <span>perceel</span>
                    </p>
                    <p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10L22 13V17.75C22 18.1642 21.6642 18.5 21.25 18.5H19.5V19.25C19.5 19.6642 19.1642 20 18.75 20C18.3358 20 18 19.6642 18 19.25V18.5H6V19.25C6 19.6642 5.66421 20 5.25 20C4.83579 20 4.5 19.6642 4.5 19.25V18.5H2.75C2.33579 18.5 2 18.1642 2 17.75V13L4 10V4.75C4 4.33579 4.33579 4 4.75 4H19.25C19.6642 4 20 4.33579 20 4.75V10ZM18.5 5.5H5.5V8.5H8.5V7.75C8.5 7.33579 8.83579 7 9.25 7H14.75C15.1642 7 15.5 7.33579 15.5 7.75V8.5H18.5V5.5ZM5.5 10L3.5 13H20.5L18.5 10H15.5V10.75C15.5 11.1642 15.1642 11.5 14.75 11.5H9.25C8.83579 11.5 8.5 11.1642 8.5 10.75V10H5.5ZM3.5 17V14.5H20.5V17H3.5ZM10 8.5V10H14V8.5H10Z" fill="#4D4D4D"/>
                        </svg>
                        {{ house.rooms }} <span>slaapkamers</span>
                    </p>
                    <p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8376 6.44552L8.41164 12.9768L11.9275 13.7908L12.1735 17.7268L15.829 11.0404L12.0738 10.2253L11.8376 6.44552ZM13.0625 1.99704L13.5002 9.00001L16.6369 9.68085C17.4472 9.85673 17.7847 10.5901 17.3868 11.3181L11.4775 22.1269C11.2129 22.6109 10.9723 22.5536 10.9379 22.003L10.5002 15L7.64332 14.3386C6.83705 14.1519 6.49345 13.4045 6.87879 12.6699L12.5368 1.88333C12.7924 1.39617 13.0281 1.4464 13.0625 1.99704Z" fill="#4D4D4D"/>
                        </svg>
                        {{ enerylabel }} <span>energielabel</span>
                    </p>
                </article>

                <article class="description breathingspace">
                    <h2>Omschrijving</h2>
                    
                    <p class="product-description-content excerpt-text breathingspace" style="display: block;">
                        {{ house.description | strip_html | truncatewords: 40 }}
                    </p>

                    <article class="product-description-content full-text breathingspace" style="display: none;">
                        {{ house.description }}
                    </article>

                    <button class="description-toggle-btn">
                        <span class="icon-plus" style="display: inline-block; transition: transform 0.2s;">+</span>
                        <span class="btn-text">Lees de volledige omschrijving</span>
                    </button>
                </article>
            </section>

            <aside>
                <img class="agent" src="/assets/images/logo-full.svg" alt="">
                <a href="/makelaar/{{ house.agent }}">{{ house.agent }}</a>
                <a href="tel:+31612345678" 
                    id="phone-reveal-link" 
                    data-revealed="false">
                    
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 20.44V15.6L16 14.6L14.185 15.65C11.295 14.15 9.915 12.765 8.385 9.88L9.5 8L8.5 3H3.555C3.27886 3 3.055 3.22386 3.055 3.5C3 3.93 3 4.36 3 4.79C3 13.7425 10.2575 21 19.21 21C19.645 21 20.07 21 20.495 20.94C20.7711 20.94 20.995 20.7161 20.995 20.44H21ZM19.5 19.5H19.21C11.0893 19.4917 4.50827 12.9107 4.5 4.79C4.5 4.695 4.5 4.6 4.5 4.5H7.265L7.91 7.73L7.09 9.11C6.82249 9.56029 6.80923 10.1175 7.055 10.58C8.72 13.71 10.34 15.325 13.5 17C13.9564 17.2399 14.5039 17.2285 14.95 16.97L16.275 16.205L19.5 16.83V19.5Z" fill="#0071B3"/>
                    </svg>

                    <span class="placeholder-text">Toon telefoonnummer</span>
                    
                    <span class="actual-number" style="display: none;">+31612345678</span>

                </a>
                <p>{{ agent.mail }}</p>
                <a href="/huis/{{ house.slug }}/afspraak"></a>
            </aside>
        </div>
{% endblock %}