{% layout "layouts/main-layout.liquid" %}

{% block content %}

<article class="house-card max-width">
    <section class="house-card-img-wrapper">
        {% render 'partials/picture.liquid' %}
    </section>

    <section class="house-card-content">
        <h1>{{ house.title }}</h1>
        <p class="house-address">{{ house.street }}, {{ house.city }}</p>
        
        <p>Selecteer de lijstjes waarvan je dit huis wilt verwijderen:</p>

        <form action="/favorieten/verwijderen" method="POST">
            <input type="hidden" name="house_id" value="{{ house.id }}">
            
            <fieldset>
                <legend hidden>Selecteer lijsten</legend>
                {% for list in lists_with_house %}
                    <section style="margin-bottom: 12px;">
                        <label>
                            <input type="checkbox" name="list_ids" value="{{ list.id }}" checked>
                            <span>{{ list.title }}</span>
                        </label>
                    </section>
                {% endfor %}
            </fieldset>

            <section>
                <button type="submit" class="btn-submit-save">Verwijderen uit geselecteerde lijsten</button>
                <a href="/huizen/{{ house.city | slugify }}/{{ house.street | slugify }}/{{ house.slug }}" class="btn-cancel">Annuleren</a>
            </section>
        </form>
    </section>
</article>

{% endblock %}

