{% layout "layouts/main-layout.liquid" %}

{% block content %}
    <section class="sticky-wrapper breathingspace max-width">
        {% if house.poster_image.id %}
            <section class="image-container breathingspace" style="view-transition-name: house-{{ house.slug }}";>
                {% render 'partials/picture.liquid',
                    imagesrc: house.poster_image.id,
                    fetch: "high",
                    width: "820",
                    height: "820",
                    alt_text: house.current_house
                %}
            </section>
        {% endif %}
        
        <h1 class="breathingspace">In welk lijstje ga je deze parel opslaan?</h1>
    </section>
    
    <form class="breathingspace" action="/favorieten/lijsten-beheren" method="POST">
    <input type="hidden" name="house_id" value="{{ house.id }}">
    <input type="hidden" name="redirect_back" value="/huizen/{{ house.city | downcase }}/{{ house.street | downcase }}/{{ house.slug }}">

    <section class="list-options max-width">
        {% for list in lists %}
        <label class="option-row">
            <input type="radio" name="list_id" value="{{ list.id }}" required>
            <strong>{{ list.title }}</strong>
        </label>
        {% else %}
        <p>Je hebt nog geen lijstjes aangemaakt.</p>
        {% endfor %}
    </section>
    <footer class="max-width">
        <button type="submit" class="btn-submit-save">In lijst opslaan</button>
    </footer>
    </form>
{% endblock %}