{% assign mainclass = "detail" %}

{% layout "layouts/main-layout.liquid", mainclass: mainclass %}

{% block head_extra %}
    <link rel="expect" href="#vt-image-target" blocking="render">
{% endblock %}

{% block content %}

        {% capture warning_markup %}
            <p>De vraagprijs per m² wordt berekend door de vraagprijs van de woning € ({{ house.price | divided_by: 1000 }}.000) te delen door de gebruiksoppervlakte wonen ({{ house.m2 }}m²).</p>
            <p>Door de grote perceeloppervlakte is de vraagprijs per m² in deze situatie minder geschikt...</p>
        {% endcapture %}

        {% render 'partials/popover.liquid', 
            popover_id: "popover-warning", 
            popover_class: "popover variant-warning", 
            title: "Let op! Woning met groot perceel",
            content: warning_markup
        %}
    <section class="message-notification" id="status-message-zone" hidden></section>
    {% assign clean_street = house.street | strip %}
    {% assign clean_nr = house.house_nr | strip %}
    {% assign current_house = clean_street | append: " " | append: clean_nr %}


    {% render 'partials/breadcrumbs.liquid' house: house, current_house: current_house %}
    {% comment %}
        Section displaying a gallery, mobile first uses the poster image and the gallery
    {% endcomment %}
    <section class="gallery">
        <a title="ga naar alle foto's van dit huis" class="gallery-item poster" {% render 'partials/vt-target.liquid', slug: house.slug %} href="/huis/{{ house.slug }}/media/fotos">
            {% if house.poster_image.id %}
                {% render 'partials/picture.liquid',
                    imagesrc: house.poster_image.id,
                    fetch: "high",
                    custom_class: "poster",
                    width: "860",
                    height: "540"
                %}
            {% endif %}
        </a>
        
        {% if house.gallery and house.gallery.size > 0 %}
            {% for item in house.gallery %}
                {% if item.directus_files_id %}
                    <a class="gallery-item" href="/huis/{{ house.slug }}/media/fotos">
                        {% render 'partials/picture.liquid',
                            imagesrc: item.directus_files_id,
                            fetch: "high",
                            class: "poster",
                            width: "520",
                            height: "400",
                        %}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}

        <article class="btngroup">
            <button>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M36.0007 31.7908C34.1051 31.7923 32.3217 32.6896 31.1907 34.2108L17.6807 26.4108C18.0763 25.2543 18.1042 24.0037 17.7607 22.8308L31.4607 14.9208C33.4345 17.2082 36.8013 17.6712 39.3193 16.0014C41.8373 14.3317 42.7209 11.0501 41.3818 8.34172C40.0427 5.63335 36.8987 4.34315 34.0432 5.33019C31.1876 6.31723 29.5114 9.27357 30.1307 12.2308L16.2407 20.2308C13.9224 17.9146 10.1746 17.887 7.82237 20.1687C5.47017 22.4504 5.38383 26.1974 7.62844 28.585C9.87305 30.9727 13.6182 31.1177 16.0407 28.9108L30.0407 37.0008C29.7118 39.4769 30.9515 41.8978 33.1528 43.0784C35.3542 44.2589 38.0567 43.9521 39.9373 42.3081C41.818 40.6641 42.4834 38.0269 41.6077 35.6874C40.7321 33.348 38.4986 31.7958 36.0007 31.7908ZM36.0007 8.01075C37.6576 8.01075 39.0007 9.3539 39.0007 11.0108C39.0007 12.6676 37.6576 14.0108 36.0007 14.0108C34.3438 14.0108 33.0007 12.6676 33.0007 11.0108C33.0007 9.3539 34.3438 8.01075 36.0007 8.01075ZM12.0007 27.4908C10.3438 27.4908 9.0007 26.1476 9.0007 24.4908C9.0007 22.8339 10.3438 21.4908 12.0007 21.4908C13.6576 21.4908 15.0007 22.8339 15.0007 24.4908C15.0007 26.1476 13.6576 27.4908 12.0007 27.4908ZM36.0007 40.7908C34.3438 40.7908 33.0007 39.4476 33.0007 37.7908C33.0007 36.1339 34.3438 34.7908 36.0007 34.7908C37.6576 34.7908 39.0007 36.1339 39.0007 37.7908C39.0007 39.4476 37.6576 40.7908 36.0007 40.7908Z" fill="black"/>
                </svg>
                Delen
            </button>

            <a href="/huizen/{{ house.city | slugify }}/{{ house.street | slugify }}/{{ house.slug }}/huis-toevoegen" class="btn-save-trigger">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.9999 9.86009C37.1209 8.0425 34.6141 7.01829 31.9999 7.00008C29.835 6.99279 27.7274 7.69533 25.9999 9.00009C25.2427 9.56965 24.5695 10.2429 23.9999 11.0001C23.4303 10.2429 22.7571 9.56965 21.9999 9.00009C20.2749 7.68785 18.1673 6.97729 15.9999 6.97729C13.8325 6.97729 11.7249 7.68785 9.99988 9.00009C8.75211 9.9261 7.73983 11.1328 7.04493 12.5226C6.35003 13.9124 5.99203 15.4463 5.99988 17.0001C5.99988 32.0001 21.9999 41.0001 23.9999 41.0001C25.9999 41.0001 41.9999 32.0001 41.9999 17.0001C41.9997 15.6703 41.7343 14.3539 41.2192 13.1279C40.7041 11.9019 39.9496 10.791 38.9999 9.86009ZM23.9999 37.8601C18.6342 35.2054 14.1992 30.9865 11.2799 25.7601C9.81664 23.0698 9.03387 20.0624 8.99988 17.0001C9.00053 15.3934 9.5539 13.8357 10.5671 12.5887C11.5803 11.3417 12.9917 10.4812 14.5643 10.1517C16.1369 9.82216 17.7749 10.0437 19.2035 10.779C20.6321 11.5144 21.7643 12.7188 22.4099 14.1901C22.4699 14.3301 22.5199 14.4801 22.5799 14.6301C22.6804 14.9242 22.8703 15.1796 23.1232 15.3604C23.376 15.5412 23.6791 15.6384 23.9899 15.6384C24.3007 15.6384 24.6038 15.5412 24.8566 15.3604C25.1095 15.1796 25.2994 14.9242 25.3999 14.6301C25.4499 14.4801 25.5099 14.3301 25.5699 14.1901C26.2082 12.7065 27.3398 11.4893 28.773 10.7448C30.2062 10.0002 31.8528 9.77417 33.4336 10.1049C35.0144 10.4357 36.4323 11.3029 37.4467 12.5596C38.4612 13.8163 39.0099 15.3851 38.9999 17.0001C38.9741 20.0793 38.1911 23.1049 36.7199 25.8101C33.8006 31.0365 29.3656 35.2554 23.9999 37.9101V37.8601Z" fill="black"/>
                </svg>
                Bewaren
            </a>
        </article>
    </section>

    {% comment %}
        Media extra's like 360deg view, floor planning and more
    {% endcomment %}
    <section class="media max-width">
        <nav class="extras"> 
            <a class="all-pictures" href="/huis/{{ house.slug }}/media/fotos">
                <figure>
                    <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5 1.5H1.5V12.5H2V14H0.75C0.335786 14 0 13.6642 0 13.25V0.75C0 0.335786 0.335786 0 0.75 0H15.25C15.6642 0 16 0.335786 16 0.75V2H14.5V1.5Z" fill="#0071B3"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 3H18.25C18.6642 3 19 3.33579 19 3.75V16.25C19 16.6642 18.6642 17 18.25 17H3.75C3.33579 17 3 16.6642 3 16.25V3.75C3 3.33579 3.33579 3 3.75 3ZM17.5 4.5H4.5V15.5H17.5V4.5Z" fill="#0071B3"/>
                    </svg>
                </figure>
                <figcaption>
                    Foto's 
                    <span>{{ house.gallery.size }}</span>
                </figcaption>
            </a>

            <a href="/huis/{{ house.slug }}/media/plattegrond">
                <figure class="map">
                    {% render 'partials/picture.liquid',
                        imagesrc: house.poster_image.id,
                        fetch: "high",
                        custom_class: "mobile"
                    %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 3.75C21 3.33579 20.6642 3 20.25 3H3.75C3.33579 3 3 3.33579 3 3.75V20.25C3 20.6642 3.33579 21 3.75 21H9V19.5H4.5V4.5H19.5V19.5H15.62L10.4 14.28L9.34 15.34L15 21H20.25C20.6642 21 21 20.6642 21 20.25V3.75Z" fill="white"/>
                    </svg>
                </figure>
                <figcaption>Plattegrond</figcaption>
            </a>

            <a href="/huis/{{ house.slug }}/media/360fotos">
                <figure class="treesixty">
                    {% render 'partials/picture.liquid',
                        imagesrc: house.poster_image.id,
                        fetch: "high",
                    %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5181 4.75002C20.5181 4.3358 20.1823 4.00002 19.7681 4.00002H14.7681C14.3539 4.00002 14.0181 4.3358 14.0181 4.75002V9.75002C14.0181 10.1642 14.3539 10.5 14.7681 10.5C15.1823 10.5 15.5181 10.1642 15.5181 9.75002V6.25002C18.3575 8.22143 19.3328 11.9703 17.8141 15.0755C16.2953 18.1807 12.7373 19.7124 9.43795 18.6814C6.13858 17.6503 4.08582 14.3653 4.60541 10.9478C5.125 7.53038 8.06135 5.00388 11.5181 5.00002V3.50002C7.39312 3.49165 3.85757 6.44608 3.13298 10.5069C2.4084 14.5677 4.70395 18.5626 8.57723 19.9814C12.4505 21.4002 16.7834 19.8333 18.8532 16.2652C20.9231 12.6972 20.1324 8.15806 16.9781 5.50002H19.7681C20.1823 5.50002 20.5181 5.16423 20.5181 4.75002Z" fill="white"/>
                    </svg>
                </figure>
                <figcaption>360° foto's</figcaption>
            </a>

            <a href="/huis/{{ house.slug }}/media/video">
                <figure class="video">
                    {% render 'partials/picture.liquid',
                        imagesrc: house.poster_image.id,
                        fetch: "high",
                    %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6967 11.625C20.6321 11.5258 20.5447 11.4435 20.4417 11.385L20.3867 11.34L7.77669 3.15003L7.69669 3.11003H7.65169L7.56169 3.08003H7.50669L7.41669 3.03003H7.21169C7.00704 3.06402 6.82584 3.18181 6.71169 3.35503C6.69251 3.38704 6.67579 3.42047 6.66169 3.45503C6.64738 3.48909 6.63568 3.52419 6.62669 3.56003V3.60003C6.62444 3.63332 6.62444 3.66673 6.62669 3.70003C6.62669 3.70003 6.62669 3.73003 6.62669 3.74503V20.245C6.62669 20.245 6.62669 20.275 6.62669 20.29C6.62445 20.3233 6.62445 20.3567 6.62669 20.39V20.43C6.63568 20.4659 6.64738 20.501 6.66169 20.535C6.67719 20.5714 6.69558 20.6066 6.71669 20.64C6.83084 20.8133 7.01204 20.931 7.21669 20.965H7.56669L7.65669 20.935H7.69669L7.77669 20.895L20.4817 12.645C20.8165 12.4185 20.9116 11.9674 20.6967 11.625ZM8.11669 5.16003L18.6967 12.03L8.11669 18.9V5.16003Z" fill="#0071B3"/>
                    </svg>
                </figure>
                <figcaption>Video</figcaption>
            </a>
        </nav>

        <a class="all-media" href="/huis/{{ house.slug }}/media/fotos">
            <figure>
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2506 4.41613e-07H0.7506C0.651687 -1.31131e-06 0.55375 0.0195626 0.462428 0.0575659C0.371106 0.0955692 0.288204 0.151261 0.218495 0.221436C0.148785 0.29161 0.0936448 0.374881 0.0562491 0.466453C0.0188534 0.558025 -5.9139e-05 0.65609 0.000600285 0.755001V7.255C-0.00344245 7.35599 0.0129673 7.45675 0.048844 7.55124C0.0847208 7.64572 0.139325 7.73198 0.209375 7.80483C0.279426 7.87769 0.363479 7.93563 0.456485 7.97518C0.549492 8.01473 0.649533 8.03508 0.7506 8.035H8.2506C8.44951 8.035 8.64028 7.95598 8.78093 7.81533C8.92158 7.67468 9.0006 7.48391 9.0006 7.285V0.785001C9.00534 0.683604 8.98944 0.582302 8.95388 0.487229C8.91831 0.392156 8.86382 0.305291 8.7937 0.231897C8.72358 0.158503 8.63929 0.100108 8.54593 0.0602469C8.45258 0.0203862 8.35211 -0.000109706 8.2506 4.41613e-07ZM1.5006 1.505H7.5006V6.535H1.5006V1.505Z" fill="#0071B3"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.750616 10.0349H8.25062C8.44953 10.0349 8.64029 10.1139 8.78095 10.2546C8.9216 10.3952 9.00062 10.586 9.00062 10.7849V17.2849C9.00062 17.4838 8.9216 17.6746 8.78095 17.8152C8.64029 17.9559 8.44953 18.0349 8.25062 18.0349H0.750616C0.651277 18.0349 0.552927 18.0152 0.461275 17.9769C0.369623 17.9386 0.286495 17.8824 0.216719 17.8117C0.146943 17.741 0.091908 17.6571 0.0548104 17.565C0.0177129 17.4728 -0.000708523 17.3742 0.000615991 17.2749V10.7749C0.00324521 10.5777 0.083422 10.3895 0.22379 10.251C0.364159 10.1125 0.553424 10.0349 0.750616 10.0349ZM7.50062 11.5349H1.50062V16.5349H7.50062V11.5349Z" fill="#0071B3"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7506 10.0349H19.2506C19.4495 10.0349 19.6403 10.1139 19.7809 10.2546C19.9216 10.3952 20.0006 10.586 20.0006 10.7849V17.2849C20.0006 17.4838 19.9216 17.6746 19.7809 17.8152C19.6403 17.9559 19.4495 18.0349 19.2506 18.0349H11.7506C11.5517 18.0349 11.3609 17.9559 11.2203 17.8152C11.0796 17.6746 11.0006 17.4838 11.0006 17.2849V10.7849C11.0006 10.586 11.0796 10.3952 11.2203 10.2546C11.3609 10.1139 11.5517 10.0349 11.7506 10.0349ZM18.5006 11.5349H12.5006V16.5349H18.5006V11.5349Z" fill="#0071B3"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7506 0.0349126H19.2506C19.4495 0.0349126 19.6403 0.11393 19.7809 0.254582C19.9216 0.395235 20.0006 0.586 20.0006 0.784913V7.28491C20.0006 7.48382 19.9216 7.67459 19.7809 7.81524C19.6403 7.95589 19.4495 8.03491 19.2506 8.03491H11.7506C11.6508 8.03493 11.5521 8.01505 11.4601 7.97642C11.3681 7.9378 11.2847 7.88121 11.2149 7.80997C11.1451 7.73873 11.0901 7.65427 11.0533 7.56153C11.0165 7.4688 10.9986 7.36966 11.0006 7.26991V0.769912C11.0045 0.573611 11.0853 0.386677 11.2255 0.249253C11.3657 0.111829 11.5543 0.0348733 11.7506 0.0349126ZM18.5006 1.53491H12.5006V6.53491H18.5006V1.53491Z" fill="#0071B3"/>
            </svg>
            </figure>
            <figcaption>Alle media</figcaption>
        </a>
    </section>

    {% comment %}
        Seperator line between media and details
    {% endcomment %}
    <span class="seperator fullwidth"></span>

    {% comment %}
        A div because what else :) wrapper for the desktop two column layout
    {% endcomment %}
    <div class="main-aside-wrapper max-width">

        {% comment %}
            Left side of the page on desktop (All details)
        {% endcomment %}
        <section class="details breathingspace">
            {% assign badge_text = "nieuw" %}
            {% assign enerylabel = "A" %}
            {% assign total_m2 = house.m2 | plus: house.m2_garden %}
            <article class="house-details">
                <p class="badge breathingspace">{{ badge_text }}</p>
                <h1 class="street breathingspace">{{ current_house }}</h1>
                <p class="postalcode breathingspace">{{ house.postal_code }} 
                    <a breathingspace href="/huizen/{{ house.city }}">{{ house.city }}</a>
                </p>
                <h2 class="price breathingspace">€ {{ house.price | divided_by: 1000 }}.000 k.k. 
                    <a class="calculator desktop breathingspace" href="/maandlasen/{{ house.slug }}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11Z" fill="#0071B3"/>
                            <path d="M12 12C12.5523 12 13 11.5523 13 11C13 10.4477 12.5523 10 12 10C11.4477 10 11 10.4477 11 11C11 11.5523 11.4477 12 12 12Z" fill="#0071B3"/>
                            <path d="M17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11Z" fill="#0071B3"/>
                            <path d="M8 15.5C8.55228 15.5 9 15.0523 9 14.5C9 13.9477 8.55228 13.5 8 13.5C7.44772 13.5 7 13.9477 7 14.5C7 15.0523 7.44772 15.5 8 15.5Z" fill="#0071B3"/>
                            <path d="M13 14.5C13 15.0523 12.5523 15.5 12 15.5C11.4477 15.5 11 15.0523 11 14.5C11 13.9477 11.4477 13.5 12 13.5C12.5523 13.5 13 13.9477 13 14.5Z" fill="#0071B3"/>
                            <path d="M16 15.5C16.5523 15.5 17 15.0523 17 14.5C17 13.9477 16.5523 13.5 16 13.5C15.4477 13.5 15 13.9477 15 14.5C15 15.0523 15.4477 15.5 16 15.5Z" fill="#0071B3"/>
                            <path d="M9 18C9 18.5523 8.55228 19 8 19C7.44772 19 7 18.5523 7 18C7 17.4477 7.44772 17 8 17C8.55228 17 9 17.4477 9 18Z" fill="#0071B3"/>
                            <path d="M12 19C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17C11.4477 17 11 17.4477 11 18C11 18.5523 11.4477 19 12 19Z" fill="#0071B3"/>
                            <path d="M17 18C17 18.5523 16.5523 19 16 19C15.4477 19 15 18.5523 15 18C15 17.4477 15.4477 17 16 17C16.5523 17 17 17.4477 17 18Z" fill="#0071B3"/>
                            <path d="M7.75 5C7.33579 5 7 5.33579 7 5.75V7.25C7 7.66421 7.33579 8 7.75 8H16.25C16.6642 8 17 7.66421 17 7.25V5.75C17 5.33579 16.6642 5 16.25 5H7.75Z" fill="#0071B3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 2H19.25C19.6642 2 20 2.33579 20 2.75V21.25C20 21.6642 19.6642 22 19.25 22H4.75C4.33579 22 4 21.6642 4 21.25V2.75C4 2.33579 4.33579 2 4.75 2ZM18.5 3.5H5.5V20.5H18.5V3.5Z" fill="#0071B3"/>
                        </svg>
                        Wat worden mijn maandlasten?
                    </a>
                </h2>
            </article>

            <figure class="map">
                <a href="/huis/{{ house.slug }}/kaart">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="60" height="60" rx="4" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.012 39.0099H26.943V7.78894H22.096C21.449 7.78894 20.839 8.04194 20.38 8.49994L13.791 15.0889V34.0169C16.283 34.6599 18.266 36.5609 19.012 39.0099Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.94549 0.00012207H3.49849C1.56649 0.00012207 0.000488281 1.56612 0.000488281 3.49812V11.9581L9.94549 11.9431V0.00012207Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.30615 41.2732C8.30615 43.2772 9.93115 44.9002 11.9342 44.8982C13.9392 44.8972 15.5632 43.2712 15.5632 41.2662C15.5632 39.2622 13.9392 37.6392 11.9342 37.6412C9.93115 37.6432 8.30615 39.2692 8.30615 41.2732Z" fill="#E3E6E6"/>
                        <mask id="mask0_449_5070" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="60" height="61">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 60.0001H60V0.00012207H0V60.0001Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_449_5070)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.5908 39.0101H48.0268V0.00012207H31.5908V39.0101Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.835 5.95376C18.974 4.81576 20.487 4.18876 22.097 4.18876H26.943V-0.000244141H13.791V9.99776L17.835 5.95376Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.94549 34.0549V15.4479L0.000488281 15.4629V39.0099H4.86149C5.59649 36.6099 7.52049 34.7339 9.94549 34.0549Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.667 59.8563V57.0373C33.667 56.4993 33.454 55.9833 33.073 55.6033L28.253 50.7833C27.371 49.9003 26.875 48.7033 26.875 47.4553V43.3633L19.001 43.3653C18.246 45.7963 16.269 47.6833 13.791 48.3263V59.8623L9.945 59.8633V48.2963C7.527 47.6243 5.605 45.7603 4.866 43.3703L0 43.3713V56.3673C0 58.2993 1.567 59.8663 3.499 59.8653L37.732 59.8553L33.667 59.8563Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M56.4612 0.00012207H51.9712V22.3591H59.9592V3.49812C59.9592 1.56612 58.3932 0.00012207 56.4612 0.00012207Z" fill="#E3E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M51.9722 39.0102H59.9602V26.3132H51.9722V39.0102Z" fill="#D7E37D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.6216 46.5988C31.6216 47.1368 31.8346 47.6528 32.2156 48.0328L37.0356 52.8528C37.9176 53.7358 38.4136 54.9328 38.4136 56.1808V59.8548L56.4626 59.8488C58.3936 59.8488 59.9596 58.2828 59.9596 56.3508V43.3528L31.6216 43.3618V46.5988Z" fill="#D5EBF4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9609 39.0985H19.0247C18.2792 36.644 16.2938 34.7387 13.8002 34.0942V15.1232L20.3946 8.51922C20.8529 8.06018 21.4633 7.8066 22.1117 7.8066H26.9609V39.0985ZM11.9429 45.0009C9.93761 45.0029 8.31153 43.3762 8.31153 41.3667C8.31153 39.3581 9.93761 37.7284 11.9429 37.7264C13.9483 37.7244 15.5744 39.3511 15.5744 41.3596C15.5744 43.3692 13.9483 44.9989 11.9429 45.0009ZM60 26.3727V22.4097H52.0067V-0.00012207H48.059V39.0985H31.6121V-0.00012207H26.961V4.19839H22.1117C20.5007 4.19839 18.9867 4.82682 17.8469 5.9674L13.8002 10.0206V-0.00012207H9.95163V11.971L0 11.985V15.498L9.95163 15.483V34.1322C7.52602 34.8128 5.59973 36.6931 4.86424 39.0985H0V43.4694L4.86925 43.4684C5.60974 45.8638 7.53202 47.7321 9.95163 48.4056V59.9999L13.8002 59.9979V48.4357C16.2799 47.7912 18.2582 45.8999 19.0147 43.4634L26.8929 43.4614V47.5627C26.8929 48.8135 27.3893 50.0132 28.2728 50.8982L33.0951 55.7292C33.4763 56.1111 33.6895 56.6272 33.6895 57.1665V59.9919L38.4396 59.9909V56.3085C38.4396 55.0577 37.9433 53.858 37.0597 52.9729L32.2365 48.142C31.8562 47.7611 31.6431 47.244 31.6431 46.7047V43.4604L60 43.4514V39.0985H52.0067V26.3727H60Z" fill="white"/>
                        </g>
                        <rect x="0.5" y="0.5" width="59" height="59" rx="3.5" stroke="#E6E6E6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.7664 41.0136C34.7664 41.6743 32.6698 42.2102 30.0858 42.2102C27.4989 42.2102 25.4038 41.6743 25.4038 41.0136C25.4038 40.3529 27.4989 39.817 30.0858 39.817C32.6698 39.817 34.7664 40.3529 34.7664 41.0136Z" fill="#EDEFEF"/>
                        <path d="M30 13.6775C31.2865 13.6775 32.56 13.9355 33.7451 14.4363C34.9304 14.9371 36.0036 15.6708 36.9004 16.5935C37.7971 17.5162 38.4999 18.6094 38.9668 19.8083C39.4336 21.0073 39.6557 22.2879 39.6191 23.574C39.6191 31.3862 31.0335 39.722 30.417 40.3152C30.3158 40.4044 30.1856 40.4538 30.0508 40.4539C29.9157 40.4539 29.7848 40.4046 29.6836 40.3152C29.0748 39.7064 20.4745 31.5267 20.3808 23.574C20.3443 22.2879 20.5663 21.0073 21.0332 19.8083C21.5001 18.6094 22.2028 17.5162 23.0996 16.5935C23.9963 15.6709 25.0687 14.9371 26.2539 14.4363C27.4392 13.9354 28.7132 13.6775 30 13.6775Z" fill="#FF9B21"/>
                        <circle cx="29.995" cy="23.3303" r="3.68295" fill="white"/>
                    </svg>

                    <figcaption>Kaart</figcaption>
                </a>
            </figure>

            <article class="important-info breathingspace">
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1394V7.8894C20.4018 7.53919 21.1346 6.43577 21.0163 5.2516C20.898 4.06742 19.9614 3.13078 18.7772 3.01249C17.593 2.89419 16.4896 3.62703 16.1394 4.7644H7.8894C7.53919 3.62703 6.43577 2.89419 5.2516 3.01249C4.06742 3.13078 3.13078 4.06742 3.01249 5.2516C2.89419 6.43577 3.62703 7.53919 4.7644 7.8894V16.1394C3.62703 16.4896 2.89419 17.593 3.01249 18.7772C3.13078 19.9614 4.06742 20.898 5.2516 21.0163C6.43577 21.1346 7.53919 20.4018 7.8894 19.2644H16.1394C16.4896 20.4018 17.593 21.1346 18.7772 21.0163C19.9614 20.898 20.898 19.9614 21.0163 18.7772C21.1346 17.593 20.4018 16.4896 19.2644 16.1394ZM16.1394 17.7644H7.8894C7.64354 16.9911 7.03768 16.3853 6.2644 16.1394V7.8894C7.03768 7.64354 7.64354 7.03768 7.8894 6.2644H16.1394C16.3853 7.03768 16.9911 7.64354 17.7644 7.8894V16.1394C16.9911 16.3853 16.3853 16.9911 16.1394 17.7644ZM18.5144 4.5144C19.0667 4.5144 19.5144 4.96212 19.5144 5.5144C19.5144 6.06669 19.0667 6.5144 18.5144 6.5144C17.9621 6.5144 17.5144 6.06669 17.5144 5.5144C17.5144 4.96212 17.9621 4.5144 18.5144 4.5144ZM5.5144 4.5144C6.06669 4.5144 6.5144 4.96212 6.5144 5.5144C6.5144 6.06669 6.06669 6.5144 5.5144 6.5144C4.96212 6.5144 4.5144 6.06669 4.5144 5.5144C4.5144 4.96212 4.96212 4.5144 5.5144 4.5144ZM5.5144 19.5144C4.96212 19.5144 4.5144 19.0667 4.5144 18.5144C4.5144 17.9621 4.96212 17.5144 5.5144 17.5144C6.06669 17.5144 6.5144 17.9621 6.5144 18.5144C6.5144 19.0667 6.06669 19.5144 5.5144 19.5144ZM18.5144 19.5144C17.9621 19.5144 17.5144 19.0667 17.5144 18.5144C17.5144 17.9621 17.9621 17.5144 18.5144 17.5144C19.0667 17.5144 19.5144 17.9621 19.5144 18.5144C19.5144 19.0667 19.0667 19.5144 18.5144 19.5144Z" fill="#4D4D4D"/>
                    </svg>
                    {{ house.m2 }} m² <span>wonen</span>
                </p>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 2.75C21.5 2.33579 21.1642 2 20.75 2H3.25C2.83579 2 2.5 2.33579 2.5 2.75V21.25C2.5 21.6642 2.83579 22 3.25 22H20.75C21.1642 22 21.5 21.6642 21.5 21.25V2.75ZM4 7.25H10.5V9.75C10.5 10.1642 10.8358 10.5 11.25 10.5H15V20.5H4V7.25ZM16.5 9.75C16.5 9.33579 16.1642 9 15.75 9H12V6.5C12 6.08579 11.6642 5.75 11.25 5.75H4V3.5H20V20.5H16.5V9.75Z" fill="#4D4D4D"/>
                    </svg>
                    {{ total_m2 }} m² <span>perceel</span>
                </p>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10L22 13V17.75C22 18.1642 21.6642 18.5 21.25 18.5H19.5V19.25C19.5 19.6642 19.1642 20 18.75 20C18.3358 20 18 19.6642 18 19.25V18.5H6V19.25C6 19.6642 5.66421 20 5.25 20C4.83579 20 4.5 19.6642 4.5 19.25V18.5H2.75C2.33579 18.5 2 18.1642 2 17.75V13L4 10V4.75C4 4.33579 4.33579 4 4.75 4H19.25C19.6642 4 20 4.33579 20 4.75V10ZM18.5 5.5H5.5V8.5H8.5V7.75C8.5 7.33579 8.83579 7 9.25 7H14.75C15.1642 7 15.5 7.33579 15.5 7.75V8.5H18.5V5.5ZM5.5 10L3.5 13H20.5L18.5 10H15.5V10.75C15.5 11.1642 15.1642 11.5 14.75 11.5H9.25C8.83579 11.5 8.5 11.1642 8.5 10.75V10H5.5ZM3.5 17V14.5H20.5V17H3.5ZM10 8.5V10H14V8.5H10Z" fill="#4D4D4D"/>
                    </svg>
                    {{ house.rooms }} <span>{% if house.rooms > 1 %}slaapkamers {% else %}slaapkamer{% endif %}</span>
                </p>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8376 6.44552L8.41164 12.9768L11.9275 13.7908L12.1735 17.7268L15.829 11.0404L12.0738 10.2253L11.8376 6.44552ZM13.0625 1.99704L13.5002 9.00001L16.6369 9.68085C17.4472 9.85673 17.7847 10.5901 17.3868 11.3181L11.4775 22.1269C11.2129 22.6109 10.9723 22.5536 10.9379 22.003L10.5002 15L7.64332 14.3386C6.83705 14.1519 6.49345 13.4045 6.87879 12.6699L12.5368 1.88333C12.7924 1.39617 13.0281 1.4464 13.0625 1.99704Z" fill="#4D4D4D"/>
                    </svg>
                    {{ enerylabel }} <span>energielabel</span>
                </p>
            </article>

            <a class="calculator mobile breathingspace" href="/maandlasen/{{ house.slug }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11Z" fill="#0071B3"/>
                    <path d="M12 12C12.5523 12 13 11.5523 13 11C13 10.4477 12.5523 10 12 10C11.4477 10 11 10.4477 11 11C11 11.5523 11.4477 12 12 12Z" fill="#0071B3"/>
                    <path d="M17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11Z" fill="#0071B3"/>
                    <path d="M8 15.5C8.55228 15.5 9 15.0523 9 14.5C9 13.9477 8.55228 13.5 8 13.5C7.44772 13.5 7 13.9477 7 14.5C7 15.0523 7.44772 15.5 8 15.5Z" fill="#0071B3"/>
                    <path d="M13 14.5C13 15.0523 12.5523 15.5 12 15.5C11.4477 15.5 11 15.0523 11 14.5C11 13.9477 11.4477 13.5 12 13.5C12.5523 13.5 13 13.9477 13 14.5Z" fill="#0071B3"/>
                    <path d="M16 15.5C16.5523 15.5 17 15.0523 17 14.5C17 13.9477 16.5523 13.5 16 13.5C15.4477 13.5 15 13.9477 15 14.5C15 15.0523 15.4477 15.5 16 15.5Z" fill="#0071B3"/>
                    <path d="M9 18C9 18.5523 8.55228 19 8 19C7.44772 19 7 18.5523 7 18C7 17.4477 7.44772 17 8 17C8.55228 17 9 17.4477 9 18Z" fill="#0071B3"/>
                    <path d="M12 19C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17C11.4477 17 11 17.4477 11 18C11 18.5523 11.4477 19 12 19Z" fill="#0071B3"/>
                    <path d="M17 18C17 18.5523 16.5523 19 16 19C15.4477 19 15 18.5523 15 18C15 17.4477 15.4477 17 16 17C16.5523 17 17 17.4477 17 18Z" fill="#0071B3"/>
                    <path d="M7.75 5C7.33579 5 7 5.33579 7 5.75V7.25C7 7.66421 7.33579 8 7.75 8H16.25C16.6642 8 17 7.66421 17 7.25V5.75C17 5.33579 16.6642 5 16.25 5H7.75Z" fill="#0071B3"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 2H19.25C19.6642 2 20 2.33579 20 2.75V21.25C20 21.6642 19.6642 22 19.25 22H4.75C4.33579 22 4 21.6642 4 21.25V2.75C4 2.33579 4.33579 2 4.75 2ZM18.5 3.5H5.5V20.5H18.5V3.5Z" fill="#0071B3"/>
                </svg>
                Wat worden mijn maandlasten?
            </a>

            <span class="seperator breathingspace"></span>

            <article class="description">
                <h3 class="breatingspace-section">Omschrijving</h3>
                
                <p class="product-description-content excerpt-text breathingspace">
                    {{ house.description | strip_html | truncatewords: 40 }}
                </p>

                <article class="product-description-content full-text breathingspace">
                    {{ house.description }}
                </article>

                <button class="description-toggle-btn" hidden>
                    <span class="icon-plus" style="display: inline-block; transition: transform 0.2s;">+</span>
                    <span class="btn-text">Lees de volledige omschrijving</span>
                </button>
            </article>

            <h3 class="breatingspace-section">Kenmerken</h3>
            
            <div class="all-info breathingspace">            
                <section class="feature-group overdracht">
                    <header class="group-head">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0557 20.8917C9.76275 21.1822 9.28875 21.1817 8.99725 20.8897C8.70575 20.5982 8.70525 20.1242 8.99525 19.8317L8.99725 19.8292L9.88175 18.9447L10.9423 20.0052L10.0557 20.8917ZM7.93625 18.7687C7.93575 18.7692 7.93475 18.7697 7.93425 18.7707C7.64175 19.0607 7.16775 19.0602 6.87575 18.7687C6.58425 18.4767 6.58375 18.0027 6.87375 17.7102C6.87475 17.7097 6.87525 17.7087 6.87575 17.7082L7.40675 17.1767L7.76025 16.8237C7.76075 16.8237 7.76075 16.8232 7.76075 16.8232C8.05325 16.5307 8.52875 16.5312 8.82125 16.8232C9.11375 17.1157 9.11375 17.5917 8.82125 17.8842L7.93625 18.7687ZM6.70025 15.7627H6.69975L5.81525 16.6472C5.81425 16.6482 5.81375 16.6482 5.81275 16.6492C5.52025 16.9397 5.04625 16.9392 4.75475 16.6472C4.46275 16.3557 4.46225 15.8817 4.75275 15.5887L5.63925 14.7017L5.91375 14.4277L7.40675 12.9342C7.69925 12.6417 8.17525 12.6417 8.46775 12.9342C8.75975 13.2267 8.75975 13.7022 8.46775 13.9947C8.46725 13.9947 8.46725 13.9952 8.46725 13.9952L6.70025 15.7627ZM17.1297 18.7677C17.3167 18.5807 17.4552 18.3662 17.5623 18.1402C17.6903 17.8712 17.7623 17.5852 17.7773 17.2942C18.0688 17.2792 18.3547 17.2072 18.6232 17.0792C18.8492 16.9717 19.0642 16.8337 19.2507 16.6467C19.4377 16.4597 19.5763 16.2447 19.6838 16.0192C20.0468 15.2557 19.9573 14.3367 19.4132 13.6557L22.4322 10.6372C22.4322 10.6367 22.4328 10.6367 22.4333 10.6362C22.4333 10.6357 22.4333 10.6357 22.4338 10.6352C22.7257 10.3422 22.7257 9.86774 22.4333 9.57524C22.1403 9.28274 21.6652 9.28274 21.3722 9.57524L18.3668 12.5807L12.3567 6.57024L12.5332 6.39374C12.8263 6.10074 12.8263 5.62574 12.5332 5.33274C12.2402 5.04024 11.7657 5.04024 11.4727 5.33274L10.0317 6.77374L9.89775 6.90824L8.99825 7.80674L8.99725 7.80824C8.70475 8.10024 8.22925 8.09974 7.93725 7.80774C7.64525 7.51524 7.64475 7.04024 7.93675 6.74774L9.12475 5.55974L9.17425 5.50974L11.4727 3.21124C11.5347 3.14924 11.6062 3.10374 11.6812 3.06774C11.9597 2.93524 12.3027 2.98124 12.5332 3.21124L14.3013 4.97924C14.5943 5.27224 15.0693 5.27224 15.3617 4.97924L15.8923 4.44924L16.0697 4.27124C16.3573 3.98374 16.3608 3.52224 16.0837 3.22824C16.0787 3.22224 16.0752 3.21624 16.0697 3.21074C16.0642 3.20524 16.0582 3.20174 16.0522 3.19674C15.7583 2.91974 15.2968 2.92324 15.0087 3.21074L14.8313 3.38824L13.5942 2.15074C13.4067 1.96374 13.1932 1.82324 12.9668 1.71774C12.6982 1.59224 12.4113 1.51824 12.1208 1.50324C12.0417 1.49924 11.9642 1.49924 11.8857 1.50324C11.5947 1.51824 11.3083 1.59224 11.0398 1.71774C10.8133 1.82324 10.5992 1.96374 10.4122 2.15074L9.88325 2.67924C9.88275 2.68024 9.88225 2.68074 9.88175 2.68124C9.88175 2.68124 9.88125 2.68124 9.88125 2.68174L9.17425 3.38824L8.64575 2.85974C8.64525 2.85924 8.64475 2.85824 8.64425 2.85774C8.64375 2.85724 8.64325 2.85724 8.64275 2.85674C8.34975 2.56524 7.87625 2.56574 7.58375 2.85774C7.29075 3.15074 7.29075 3.62574 7.58375 3.91874L8.11375 4.44924L6.87575 5.68724C6.18425 6.37874 6.04675 7.40524 6.44375 8.24074C6.55125 8.46624 6.68975 8.68124 6.87675 8.86824C7.06375 9.05524 7.27875 9.19374 7.50425 9.30124C8.33975 9.69874 9.36625 9.56024 10.0577 8.86874C10.0582 8.86874 10.0588 8.86874 10.0588 8.86824L11.2957 7.63124L18.1877 14.5232L18.1922 14.5272C18.2537 14.5892 18.2992 14.6602 18.3342 14.7347C18.4662 15.0127 18.4207 15.3557 18.1903 15.5857C17.9603 15.8157 17.6178 15.8617 17.3393 15.7297C17.2648 15.6942 17.1938 15.6487 17.1322 15.5877L17.1297 15.5857L14.6547 13.1112C14.3617 12.8182 13.8872 12.8182 13.5942 13.1112C13.3012 13.4037 13.3012 13.8787 13.5942 14.1717L16.0693 16.6467C16.0697 16.6472 16.0703 16.6482 16.0708 16.6487C16.1322 16.7107 16.1773 16.7817 16.2128 16.8562C16.3453 17.1347 16.2992 17.4772 16.0693 17.7072C15.8387 17.9372 15.4962 17.9832 15.2177 17.8512C15.1432 17.8157 15.0722 17.7702 15.0107 17.7092C15.0097 17.7082 15.0087 17.7077 15.0083 17.7072L12.5332 15.2322C12.2408 14.9397 11.7657 14.9397 11.4727 15.2322C11.1797 15.5252 11.1797 16.0002 11.4727 16.2932L13.9478 18.7677C13.9482 18.7687 13.9487 18.7697 13.9497 18.7702C14.0107 18.8317 14.0563 18.9027 14.0913 18.9772C14.2238 19.2557 14.1777 19.5982 13.9478 19.8282C13.7172 20.0587 13.3747 20.1047 13.0962 19.9722C13.0217 19.9372 12.9513 19.8917 12.8892 19.8302L10.9427 17.8842L10.5293 17.4712C10.5487 17.1027 10.4692 16.7347 10.3108 16.3947C10.2048 16.1677 10.0697 15.9502 9.88175 15.7627C9.69525 15.5757 9.47975 15.4372 9.25425 15.3297L9.52825 15.0557C9.64975 14.9342 9.75075 14.8002 9.83875 14.6602C10.1982 14.0897 10.2722 13.3947 10.0702 12.7692C9.96475 12.4422 9.78825 12.1332 9.52825 11.8737C9.27025 11.6157 8.96425 11.4432 8.64025 11.3392C8.37425 11.2532 8.09675 11.2112 7.81975 11.2257C7.28375 11.2537 6.75575 11.4642 6.34625 11.8737L5.63925 12.5807L2.28075 9.22274C2.28075 9.22224 2.28075 9.22224 2.28025 9.22174L2.27975 9.22124C1.98675 8.92924 1.51225 8.92924 1.21975 9.22174C0.92675 9.51474 0.92675 9.98974 1.21975 10.2827L4.57825 13.6412L3.69175 14.5282C3.00225 15.2202 2.86375 16.2452 3.26075 17.0802C3.36825 17.3062 3.50725 17.5212 3.69425 17.7082C3.88075 17.8952 4.09575 18.0337 4.32175 18.1407C4.59025 18.2687 4.87625 18.3407 5.16725 18.3557C5.18275 18.6467 5.25475 18.9327 5.38225 19.2012C5.48975 19.4277 5.62825 19.6422 5.81525 19.8292C6.00225 20.0162 6.21725 20.1547 6.44325 20.2622C6.71175 20.3897 6.99775 20.4617 7.28875 20.4772C7.30425 20.7682 7.37575 21.0542 7.50375 21.3227C7.61125 21.5487 7.74975 21.7637 7.93675 21.9507C8.12325 22.1377 8.33825 22.2762 8.56425 22.3837C9.39875 22.7807 10.4242 22.6427 11.1163 21.9527C11.1167 21.9517 11.1177 21.9512 11.1187 21.9507C11.1192 21.9502 11.1198 21.9492 11.1208 21.9482L12.0173 21.0517C12.6982 21.5952 13.6178 21.6847 14.3807 21.3222C14.6062 21.2147 14.8212 21.0762 15.0083 20.8892C15.1953 20.7022 15.3337 20.4872 15.4412 20.2617C15.5693 19.9927 15.6407 19.7067 15.6558 19.4157C15.9473 19.4002 16.2332 19.3282 16.5017 19.2007C16.7277 19.0932 16.9427 18.9547 17.1297 18.7677Z" fill="#333333"/>
                        </svg>
                        Overdracht
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Aangeboden sinds</dt>
                            <dd>{{ house.listed_date }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Status</dt>
                            <dd>{{ house.availability }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Aanvaarding</dt>
                            <dd>{{ house.agreement }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Vraagprijs</dt>
                            <dd>
                                {% if house.price > 0 %}
                                    € {{ house.price | divided_by: 1000.0 | round }}.000 Kosten koper
                                {% else %}
                                    Prijs op aanvraag
                                {% endif %}
                            </dd>
                        </div>
                        <div class="feature-row">
                            <dt>Vraagprijs per m²</dt>
                            <dd>
                                {% if house.price > 0 %}
                                    € {{ house.price_m2 }}
                                {% else %}
                                    N.v.t.
                                {% endif %}
                                <button title="waarschuwing over de berekening" class="warning" popovertarget="popover-warning">
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4089 18.8301C22.4089 18.0017 23.0804 17.3301 23.9089 17.3301C24.7373 17.3301 25.4089 18.0017 25.4089 18.8301V30.8301C25.4089 31.6585 24.7373 32.3301 23.9089 32.3301C23.0804 32.3301 22.4089 31.6585 22.4089 30.8301V18.8301Z" fill="black"/>
                                        <path d="M23.9089 34.3301C23.0804 34.3301 22.4089 35.0017 22.4089 35.8301C22.4089 36.6585 23.0804 37.3301 23.9089 37.3301C24.7373 37.3301 25.4089 36.6585 25.4089 35.8301C25.4089 35.0017 24.7373 34.3301 23.9089 34.3301Z" fill="black"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M45.779 42.45L45.699 42.59L45.589 42.76L45.489 42.89L45.399 42.98L45.279 43.08L45.159 43.17H45.079L44.939 43.23H2.90896L2.71896 43.12H2.63896L2.50896 43.03L2.39896 42.94L2.29896 42.83L2.20896 42.72L2.12896 42.59L2.05896 42.47C2.03997 42.4242 2.02329 42.3775 2.00896 42.33V42.06C2.00608 42.0067 2.00608 41.9533 2.00896 41.9V41.76C1.99701 41.6604 1.99701 41.5596 2.00896 41.46V41.33L2.10896 41.15V41.08L22.739 5.56L22.789 5.49L22.879 5.37L22.979 5.26L23.079 5.17L23.219 5.07H23.289L23.439 5H24.549L24.699 5.07H24.769L24.909 5.17L24.969 5.22L25.069 5.33L25.159 5.5L25.209 5.57L45.719 41.12V41.2L45.779 41.34C45.7815 41.39 45.7815 41.44 45.779 41.49V41.62C45.7826 41.6799 45.7826 41.7401 45.779 41.8V41.87C45.7826 41.9299 45.7826 41.9901 45.779 42.05V42.17C45.7818 42.2233 45.7818 42.2767 45.779 42.33V42.45ZM41.809 40.33L23.909 9.33L6.00896 40.33H41.809Z" fill="black"/>
                                    </svg>
                                </button>
                            </dd>
                        </div>
                    </dl>
                </section>

                <section class="feature-group bouw">
                    <header class="group-head">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 5.255C21.0014 5.05522 20.9229 4.86317 20.7821 4.72144C20.6413 4.5797 20.4498 4.5 20.25 4.5H11.75C11.4481 4.49933 11.1755 4.681 11.06 4.96C11.0196 5.05128 10.9991 5.15016 11 5.25V9H7.50003C7.19847 9.00067 6.92663 9.18189 6.81003 9.46C6.76958 9.55128 6.74912 9.65016 6.75003 9.75V13.5H3.25003C2.94847 13.5007 2.67663 13.6819 2.56003 13.96C2.51958 14.0513 2.49912 14.1502 2.50003 14.25V18.75C2.50003 19.1642 2.83582 19.5 3.25003 19.5H20.25C20.6642 19.5 21 19.1642 21 18.75V5.255ZM4.00003 15H11V18H4.00003V15ZM19.5 10.5V13.5H16.75V10.5H19.5ZM15.25 10.5V13.5H8.25003V10.5H15.25ZM12.51 15H19.51V18H12.51V15ZM12.51 6H19.51V9H12.51V6Z" fill="#333333"/>
                        </svg>
                        Bouw
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Soort woonhuis</dt>
                            <dd>{{ house.house_type }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Soort bouw</dt>
                            <dd>Bestaande bouw</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Bouwjaar</dt>
                            <dd>{{ house.construction_year }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Specifiek</dt>
                            <dd>Gedeeltelijk gestoffeerd</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Soort dak</dt>
                            <dd>Schilddak bedekt met pannen</dd>
                        </div>
                    </dl>
                </section>

                <section class="feature-group oppervlakten">
                    <header class="group-head"> 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1394V7.8894C20.4018 7.53919 21.1346 6.43577 21.0163 5.2516C20.898 4.06742 19.9614 3.13078 18.7772 3.01249C17.593 2.89419 16.4896 3.62703 16.1394 4.7644H7.8894C7.53919 3.62703 6.43577 2.89419 5.2516 3.01249C4.06742 3.13078 3.13078 4.06742 3.01249 5.2516C2.89419 6.43577 3.62703 7.53919 4.7644 7.8894V16.1394C3.62703 16.4896 2.89419 17.593 3.01249 18.7772C3.13078 19.9614 4.06742 20.898 5.2516 21.0163C6.43577 21.1346 7.53919 20.4018 7.8894 19.2644H16.1394C16.4896 20.4018 17.593 21.1346 18.7772 21.0163C19.9614 20.898 20.898 19.9614 21.0163 18.7772C21.1346 17.593 20.4018 16.4896 19.2644 16.1394ZM16.1394 17.7644H7.8894C7.64354 16.9911 7.03768 16.3853 6.2644 16.1394V7.8894C7.03768 7.64354 7.64354 7.03768 7.8894 6.2644H16.1394C16.3853 7.03768 16.9911 7.64354 17.7644 7.8894V16.1394C16.9911 16.3853 16.3853 16.9911 16.1394 17.7644ZM18.5144 4.5144C19.0667 4.5144 19.5144 4.96212 19.5144 5.5144C19.5144 6.06669 19.0667 6.5144 18.5144 6.5144C17.9621 6.5144 17.5144 6.06669 17.5144 5.5144C17.5144 4.96212 17.9621 4.5144 18.5144 4.5144ZM5.5144 4.5144C6.06669 4.5144 6.5144 4.96212 6.5144 5.5144C6.5144 6.06669 6.06669 6.5144 5.5144 6.5144C4.96212 6.5144 4.5144 6.06669 4.5144 5.5144C4.5144 4.96212 4.96212 4.5144 5.5144 4.5144ZM5.5144 19.5144C4.96212 19.5144 4.5144 19.0667 4.5144 18.5144C4.5144 17.9621 4.96212 17.5144 5.5144 17.5144C6.06669 17.5144 6.5144 17.9621 6.5144 18.5144C6.5144 19.0667 6.06669 19.5144 5.5144 19.5144ZM18.5144 19.5144C17.9621 19.5144 17.5144 19.0667 17.5144 18.5144C17.5144 17.9621 17.9621 17.5144 18.5144 17.5144C19.0667 17.5144 19.5144 17.9621 19.5144 18.5144C19.5144 19.0667 19.0667 19.5144 18.5144 19.5144Z" fill="#333333"/>
                        </svg>
                        Oppervlakten en inhoud
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Wonen</dt>
                            <dd>{{ house.m2 }} m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Overige inpandige ruimte</dt>
                            <dd>19 m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Gebouwgebonden buitenruimte</dt>
                            <dd>19 m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Externe bergruimte</dt>
                            <dd>20 m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Perceel</dt>
                            <dd>{{ house.m2_garden }} m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Inhoud</dt>
                            <dd>1.204 m³</dd>
                        </div>
                    </dl>
                </section>

                <section class="feature-group indeling">
                    <header class="group-head">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5605 2.46833L21.1665 12.0263C21.4435 12.3343 21.4185 12.8083 21.111 13.0858C20.803 13.3628 20.329 13.3378 20.052 13.0303L11.9995 4.08683L3.94854 13.0278C3.67154 13.3358 3.19754 13.3603 2.88954 13.0833C2.58154 12.8063 2.55654 12.3318 2.83354 12.0243L11.44 2.46633C11.4478 2.45745 11.4574 2.4515 11.467 2.44556C11.4747 2.4408 11.4824 2.43606 11.489 2.42983C11.5014 2.41844 11.5147 2.40925 11.5282 2.39998C11.536 2.39461 11.5438 2.3892 11.5515 2.38333C11.6095 2.33883 11.67 2.29983 11.7355 2.27483C11.7578 2.26629 11.7806 2.26161 11.8036 2.2569C11.8116 2.25527 11.8196 2.25363 11.8275 2.25183C11.8875 2.23733 11.9475 2.22583 12.0085 2.22583C12.0431 2.22667 12.0774 2.23321 12.1115 2.23974C12.1179 2.24095 12.1242 2.24216 12.1305 2.24333C12.1805 2.25233 12.2305 2.26133 12.2785 2.28033C12.328 2.30033 12.3735 2.33183 12.4185 2.36333C12.4256 2.36813 12.4327 2.37283 12.4398 2.37752C12.4673 2.39579 12.4948 2.41396 12.519 2.43783C12.5248 2.44332 12.5314 2.44735 12.5381 2.45139C12.5461 2.45619 12.554 2.46101 12.5605 2.46833Z" fill="#333333"/>
                            <path d="M6.50029 20.2744H17.5003V11.6949L19.0003 13.3609V21.0244C19.0003 21.4379 18.6653 21.7734 18.2518 21.7744H5.75029C5.33579 21.7744 5.00029 21.4389 5.00029 21.0244V13.3614L6.50029 11.6954V20.2744Z" fill="#333333"/>
                        </svg>
                        Indeling
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Aantal kamers</dt>
                            <dd>{{ house.rooms_detail }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Aantal badkamers</dt>
                            <dd>{{ house.bathrooms_detail }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Badkamervoorzieningen</dt>
                            <dd>{{ house.bathroom_features }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Aantal woonlagen</dt>
                            <dd>3 woonlagen</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Voorzieningen</dt>
                            <dd>Buitenzonwering, glasvezelkabel, mechanische ventilatie, natuurlijke ventilatie, rookkanaal, TV kabel, en zonnepanelen</dd>
                        </div>
                    </dl>
                </section>

                <section class="feature-group energie">
                    <header class="group-head">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8376 6.44552L8.41164 12.9768L11.9275 13.7908L12.1735 17.7268L15.829 11.0404L12.0738 10.2253L11.8376 6.44552ZM13.0625 1.99704L13.5002 9.00001L16.6369 9.68085C17.4472 9.85673 17.7847 10.5901 17.3868 11.3181L11.4775 22.1269C11.2129 22.6109 10.9723 22.5536 10.9379 22.003L10.5002 15L7.64332 14.3386C6.83705 14.1519 6.49345 13.4045 6.87879 12.6699L12.5368 1.88333C12.7924 1.39617 13.0281 1.4464 13.0625 1.99704Z" fill="#333333"/>
                        </svg>
                        Energie
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Energielabel</dt>
                            <dd><span class="label-badge">{{ house.energy_label }}</span></dd>
                        </div>
                        <div class="feature-row">
                            <dt>Isolatie</dt>
                            <dd>Dakisolatie, grotendeels dubbelglas, HR-glas, muurisolatie en vloerisolatie</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Verwarming</dt>
                            <dd>Open haard en gedeeltelijke vloerverwarming</dd>
                        </div>
                    </dl>
                </section>

                <section class="feature-group kadaster">
                    <header class="group-head"> 
                        <svg width="38" height="40" viewBox="0 0 38 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M38 1.5C38 0.67157 37.3284 0 36.5 0H1.5C0.67157 0 0 0.67157 0 1.5V38.5C0 39.3284 0.67157 40 1.5 40H36.5C37.3284 40 38 39.3284 38 38.5V1.5ZM3 10.5H16V15.5C16 16.3284 16.6716 17 17.5 17H25V37H3V10.5ZM28 15.5C28 14.6716 27.3284 14 26.5 14H19V9C19 8.1716 18.3284 7.5 17.5 7.5H3V3H35V37H28V15.5Z" fill="black"/>
                        </svg>
                        Kadastrale gegevens
                    </header>
                    <dl>
                        <div class="feature-row">
                            <dt>Kadastrale aanduiding</dt>
                            <dd>{{ house.cadastral_id }}</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Oppervlakte</dt>
                            <dd>{{ house.m2_garden }} m²</dd>
                        </div>
                        <div class="feature-row">
                            <dt>Eigendomssituatie</dt>
                            <dd>{{ house.ownership }}</dd>
                        </div>
                    </dl>
                </section>

                {% if house.has_garden %}
                    <section class="feature-group buitenruimte">
                        <header class="group-head">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24 12C24.8284 12 25.5 11.3284 25.5 10.5V5.5C25.5 4.67157 24.8284 4 24 4C23.1716 4 22.5 4.67157 22.5 5.5V10.5C22.5 11.3284 23.1716 12 24 12Z" fill="black"/>
                                <path d="M38.1399 12L34.6099 15.51L34.5799 15.52C34.206 15.9213 33.6428 16.0865 33.1113 15.9508C32.5799 15.815 32.1649 15.4 32.0291 14.8686C31.8934 14.3371 32.0586 13.7739 32.4599 13.4L35.9999 9.85999C36.3822 9.47772 36.9394 9.32842 37.4615 9.46834C37.9837 9.60826 38.3916 10.0162 38.5315 10.5384C38.6715 11.0605 38.5222 11.6177 38.1399 12Z" fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 15C19.0294 15 15 19.0294 15 24C15 28.9706 19.0294 33 24 33C28.9706 33 33 28.9706 33 24C33 19.0294 28.9706 15 24 15ZM24 30C20.6863 30 18 27.3137 18 24C18 20.6863 20.6863 18 24 18C27.3137 18 30 20.6863 30 24C30 25.5913 29.3679 27.1174 28.2426 28.2426C27.1174 29.3679 25.5913 30 24 30Z" fill="black"/>
                                <path d="M24 36C23.1716 36 22.5 36.6716 22.5 37.5V42.5C22.5 43.3284 23.1716 44 24 44C24.8284 44 25.5 43.3284 25.5 42.5V37.5C25.5 36.6716 24.8284 36 24 36Z" fill="black"/>
                                <path d="M32.5268 32.5168C33.098 31.9455 34.019 31.9293 34.61 32.48L38.14 36C38.5223 36.3823 38.6716 36.9395 38.5316 37.4616C38.3917 37.9838 37.9838 38.3917 37.4616 38.5316C36.9395 38.6716 36.3823 38.5223 36 38.14L32.49 34.6C31.9393 34.009 31.9555 33.088 32.5268 32.5168Z" fill="black"/>
                                <path d="M42.5 22.5H37.5C36.6716 22.5 36 23.1716 36 24C36 24.8284 36.6716 25.5 37.5 25.5H42.5C43.3284 25.5 44 24.8284 44 24C44 23.1716 43.3284 22.5 42.5 22.5Z" fill="black"/>
                                <path d="M15.4734 15.4832C14.9022 16.0545 13.9812 16.0707 13.3902 15.52L9.86024 12C9.47797 11.6177 9.32867 11.0605 9.46859 10.5384C9.60851 10.0162 10.0164 9.60826 10.5386 9.46834C11.0607 9.32842 11.6179 9.47772 12.0002 9.85999L15.5102 13.4C16.0609 13.991 16.0447 14.912 15.4734 15.4832Z" fill="black"/>
                                <path d="M12 24C12 23.1716 11.3284 22.5 10.5 22.5H5.5C4.67157 22.5 4 23.1716 4 24C4 24.8284 4.67157 25.5 5.5 25.5H10.5C11.3284 25.5 12 24.8284 12 24Z" fill="black"/>
                                <path d="M9.86024 35.9999L13.3902 32.4899L13.4202 32.4799C13.7941 32.0786 14.3573 31.9134 14.8888 32.0491C15.4202 32.1849 15.8352 32.5999 15.971 33.1313C16.1067 33.6628 15.9415 34.226 15.5402 34.5999L12.0002 38.1399C11.6179 38.5222 11.0607 38.6715 10.5386 38.5315C10.0164 38.3916 9.60851 37.9837 9.46859 37.4615C9.32867 36.9393 9.47797 36.3822 9.86024 35.9999Z" fill="black"/>
                            </svg>
                            Buitenruimte
                        </header>
                        <dl>
                            <div class="feature-row">
                                <dt>Ligging</dt>
                                <dd>In bosrijke omgeving, in centrum en vrij uitzicht</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Tuin</dt>
                                <dd>Achtertuin, tuin rondom, voortuin en zijtuin</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Achtertuin</dt>
                                <dd>357 m² (17,00 meter diep en 21,00 meter breed)</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Ligging tuin</dt>
                                <dd>Gelegen op het noordoosten bereikbaar via achterom</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Balkon/dakterras</dt>
                                <dd>Balkon aanwezig</dd>
                            </div>
                        </dl>
                    </section>
                {% endif %}

                {% if house.has_garage %}
                    <section class="feature-group garage">
                        <header class="group-head">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M43.6999 20.4601L24.8599 7.27007C24.7893 7.21675 24.712 7.17304 24.6299 7.14007L24.4199 7.07007H23.6799L23.4699 7.14007C23.3878 7.17304 23.3105 7.21675 23.2399 7.27007L4.29994 20.4601C4.12058 20.5638 3.96463 20.7035 3.84193 20.8704C3.71924 21.0373 3.63244 21.2278 3.58703 21.43C3.54161 21.6321 3.53856 21.8414 3.57806 22.0448C3.61755 22.2482 3.69875 22.4411 3.81653 22.6116C3.9343 22.782 4.08611 22.9262 4.26237 23.035C4.43863 23.1439 4.63553 23.2151 4.84066 23.244C5.04579 23.273 5.2547 23.2592 5.45422 23.2035C5.65374 23.1477 5.83955 23.0512 5.99994 22.9201L23.9999 10.3301L41.9999 22.9201C42.1614 23.033 42.3436 23.1131 42.5361 23.1556C42.7285 23.1981 42.9275 23.2023 43.1215 23.168C43.3156 23.1336 43.501 23.0614 43.6672 22.9553C43.8333 22.8493 43.977 22.7116 44.0899 22.5501C44.2028 22.3886 44.2829 22.2064 44.3254 22.0139C44.3679 21.8215 44.3721 21.6226 44.3378 21.4285C44.3034 21.2344 44.2312 21.049 44.1251 20.8828C44.0191 20.7167 43.8814 20.573 43.7199 20.4601H43.6999Z" fill="black"/>
                                <path d="M37 37.9999H35V22.4999C35.0018 22.3002 34.9609 22.1025 34.88 21.9199C34.7659 21.6479 34.5742 21.4155 34.3287 21.2518C34.0833 21.0882 33.795 21.0006 33.5 20.9999H14.5C14.1022 20.9999 13.7206 21.1579 13.4393 21.4392C13.158 21.7206 13 22.1021 13 22.4999V37.9999H11V20.4399L8 22.5399V39.5399C8.01043 39.9308 8.17306 40.3021 8.45324 40.5748C8.73342 40.8475 9.10901 41 9.5 40.9999H14.5C14.8978 40.9999 15.2794 40.8419 15.5607 40.5606C15.842 40.2793 16 39.8977 16 39.4999V35.9999H32V39.4999C32 39.8977 32.158 40.2793 32.4393 40.5606C32.7206 40.8419 33.1022 40.9999 33.5 40.9999H38.5C38.8978 40.9999 39.2794 40.8419 39.5607 40.5606C39.842 40.2793 40 39.8977 40 39.4999V22.4999L37 20.3999V37.9999ZM16 23.9999H32V26.9999H16V23.9999ZM16 32.9999V29.9999H32V32.9999H16Z" fill="black"/>
                            </svg>
                            Garage
                        </header>
                        <dl>
                            <div class="feature-row">
                                <dt>Soort garage</dt>
                                <dd>Vrijstaande stenen garage</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Capaciteit</dt>
                                <dd>1 auto</dd>
                            </div>
                            <div class="feature-row">
                                <dt>Voorzieningen</dt>
                                <dd>Elektra</dd>
                            </div>
                        </dl>
                    </section>
                {% endif %}

                {% if house.has_parking %}
                    <section class="feature-group parkeren">
                        <header class="group-head">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 27C18 27.8284 18.6716 28.5 19.5 28.5H28.5C29.3284 28.5 30 27.8284 30 27C30 26.1716 29.3284 25.5 28.5 25.5H19.5C18.6716 25.5 18 26.1716 18 27Z" fill="black"/>
                                <path d="M12 29.5C13.3807 29.5 14.5 28.3807 14.5 27C14.5 25.6193 13.3807 24.5 12 24.5C10.6193 24.5 9.5 25.6193 9.5 27C9.5 28.3807 10.6193 29.5 12 29.5Z" fill="black"/>
                                <path d="M38.46 27C38.46 28.3807 37.3407 29.5 35.96 29.5C34.5793 29.5 33.46 28.3807 33.46 27C33.46 25.6193 34.5793 24.5 35.96 24.5C37.3407 24.5 38.46 25.6193 38.46 27Z" fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M38.38 11.29C39.9455 13.464 41.0513 15.9343 41.63 18.55C41.6825 18.8139 41.7286 19.0788 41.7683 19.3447C43.2473 19.2654 44.6925 19.1769 46.1 19.08C46.9284 19.0993 47.5843 19.7866 47.565 20.615C47.5457 21.4434 46.8584 22.0993 46.03 22.08L43.69 22.22C43.7433 22.22 43.7867 23.09 43.82 23.53C43.93 24.33 43.93 25.13 43.93 25.95V26.53C43.8888 28.8583 43.5767 31.1739 43 33.43V39.5C43 40.3284 42.3284 41 41.5 41H38.5C37.6716 41 37 40.3284 37 39.5V36.79H35.96L32.69 36.89C29.87 36.9633 26.9733 37 24 37C21.0267 37 18.13 36.9533 15.31 36.86L12 36.76H11V39.5C11 40.3284 10.3284 41 9.49997 41H6.49997C6.10041 41.0027 5.71631 40.8458 5.43284 40.5642C5.14937 40.2826 4.98996 39.8996 4.98997 39.5V33.69L4.92997 33.48C4.35322 31.2239 4.04112 28.9083 3.99997 26.58V26C3.99997 25.18 3.99997 24.38 4.10997 23.59C4.1433 23.1633 4.18664 22.74 4.23997 22.32L1.89997 22.32C1.07154 22.1248 0.444741 21.4084 0.499969 20.58C0.555198 19.7516 1.27154 19.1248 2.09997 19.18L4.76997 19.33L6.20817 19.4131C6.25402 19.1141 6.30797 18.8163 6.36997 18.52C6.94866 15.9043 8.05451 13.434 9.61997 11.26C9.90997 10.84 10.23 10.42 10.56 10C11.3048 8.82353 12.6078 8.11901 14 8.14L16.66 8.08C19.0533 8.02667 21.5 8 24 8C26.5 8 28.9633 8.02333 31.39 8.07L34.08 8.14C35.4497 8.15313 36.7175 8.86624 37.44 10.03C37.77 10.44 38.08 10.87 38.38 11.29ZM9.23147 19.5601C9.28457 19.2616 9.34742 18.9648 9.41997 18.67C9.77265 17.3061 10.3039 15.9948 11 14.77C11.6182 13.6592 12.338 12.6081 13.15 11.63L13.36 11.38C13.5332 11.2316 13.752 11.1469 13.98 11.14L17.81 11.06C18.7919 11.06 19.7883 11.0455 20.8027 11.0308C21.8545 11.0155 22.9256 11 24.02 11C26.17 11 28.23 11 30.24 11.06L34.07 11.14C34.298 11.1469 34.5168 11.2316 34.69 11.38L34.9 11.63C35.6947 12.6101 36.3976 13.6612 37 14.77C37.6881 16.0057 38.2093 17.3272 38.55 18.7C38.6147 18.9627 38.6716 19.2271 38.7208 19.4928C34.0452 19.6971 29.0746 19.81 23.92 19.81L20.33 19.85H19.82C17.5 19.85 15.2267 19.8 13 19.7C11.7235 19.6599 10.4668 19.6133 9.23147 19.5601ZM40.8167 23.0233C40.7877 22.8268 40.76 22.6384 40.76 22.45L38.96 22.52C34.0467 22.7467 28.9567 22.86 23.69 22.86C18.6433 22.8533 13.76 22.75 9.03997 22.55L7.23997 22.48C7.22797 22.573 7.21327 22.666 7.19857 22.759C7.16427 22.976 7.12997 23.193 7.12997 23.41C6.99997 24.26 6.99997 25.13 6.99997 26V26.41C7.0231 27.7777 7.15014 29.1416 7.37997 30.49C7.39088 30.5518 7.40708 30.6136 7.42328 30.6755C7.45162 30.7836 7.47997 30.8918 7.47997 31C7.65501 31.9245 7.87866 32.8391 8.14997 33.74H8.99997L11 33.82H12.65C16.18 33.93 20 34 24 34C28 34 31.82 33.93 35.39 33.8H36L37.05 33.76L39.05 33.68H39.05C39.9 33.68 40.1545 32.8112 40.53 31.04C40.5409 30.9782 40.5571 30.9164 40.5733 30.8545C40.6017 30.7464 40.63 30.6382 40.63 30.53C40.8565 29.1813 40.9802 27.8174 41 26.45V26.04C41 25.17 40.95 24.3 40.87 23.45C40.8577 23.302 40.8369 23.1606 40.8167 23.0233Z" fill="black"/>
                            </svg>
                            Parkeergelegenheid
                        </header>
                        <dl>
                            <div class="feature-row">
                                <dt>Soort parkeergelegenheid</dt>
                                <dd>Op eigen terrein</dd>
                            </div>
                        </dl>
                    </section>
                {% endif %}
            </div>
            
        </section>

        {% comment %}
            Right side of the page on desktop (Agent + ads)
        {% endcomment %}
        <aside>
            <section class="agent">
                {% render 'partials/picture.liquid',
                    format: "svg",
                    imagesrc: "/assets/images/logo-full.svg",
                    fetch: "low",
                    loading: "lazy",
                    class:"agent"
                %}
                <a href="/makelaar/{{ house.agent }}">{{ house.agent }}</a>
                <a href="tel:1234567890" class="phone-link" id="phone-reveal-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 20.44V15.6L16 14.6L14.185 15.65C11.295 14.15 9.915 12.765 8.385 9.88L9.5 8L8.5 3H3.555C3.27886 3 3.055 3.22386 3.055 3.5C3 3.93 3 4.36 3 4.79C3 13.7425 10.2575 21 19.21 21C19.645 21 20.07 21 20.495 20.94C20.7711 20.94 20.995 20.7161 20.995 20.44H21ZM19.5 19.5H19.21C11.0893 19.4917 4.50827 12.9107 4.5 4.79C4.5 4.695 4.5 4.6 4.5 4.5H7.265L7.91 7.73L7.09 9.11C6.82249 9.56029 6.80923 10.1175 7.055 10.58C8.72 13.71 10.34 15.325 13.5 17C13.9564 17.2399 14.5039 17.2285 14.95 16.97L16.275 16.205L19.5 16.83V19.5Z" fill="#0071B3"/>
                    </svg>
                    <span class="placeholder-text">Toon telefoonnummer</span>
                    <span class="actual-number">Bel +31612345678</span>
                </a>
                <p>{{ agent.mail }}</p>
                <a href="/huis/{{ house.slug }}/afspraak">{{ house.agent }}</a>
            </section>
        </aside>
    </div>
{% endblock %}