{% layout "layouts/no-header-layout.liquid", class: "manage max-width" %}

{% block content %}
{% assign house_href = "/huizen/" | append: house.city_clean | append: "/" | append: house.street_clean | append: "/" | append: house.slug %}
<section class="house-card">
    <section class="house-card-img-wrapper">
        {% render 'partials/image-link.liquid',
            imagesrc: house.poster_image.id,
            fetch: "high",
            custom_class: "poster gallery-item",
            width: "180",
            height: "140",
            href: house_href,
            slug: house.slug,
        %}
        <section class="content">
            <h1>{{ house.street }} {{ house.house_nr }}</h1>
            <p class="house-address">{{ house.street }}, {{ house.city }}</p>
            <p class="house-price">€ {{ house.price | divided_by: 1000.0 | round }}.000</p>
        </section>
        <h2>Dit huis toevoegen aan je lijstjes</h2>
    </section>
    
    <section class="house-card-content">
        <form action="/favorieten/lijsten-beheren" method="POST" class="js-manage-lists-form">
            <input type="hidden" name="house_id" value="{{ house.id }}">
            <section class="list-options">
                <fieldset>
                    <legend hidden>Selecteer lijsten</legend>
                    {% for list in all_lists %}      
                        <label class="option-row">
                            <input type="checkbox" name="list_ids" value="{{ list.id }}" {% if list.is_included %}checked{% endif %}>
                            <span>{{ list.title }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
            </section>
            <button type="submit" class="btn-submit-save">Lijsten bijwerken</button>
        </form>
    </section>
</section>

{% endblock %}