{% layout "layouts/no-header-layout.liquid" %}

{% block content %}

<section class="house-card max-width">
    <section class="house-card-img-wrapper">
        {% render 'partials/image-link.liquid',
            imagesrc: house.poster_image.id,
            fetch: "high",
            custom_class: "poster gallery-item",
            width: "440",
            height: "240",
            slug: house.slug,
        %}
    </section>
    
    <section class="house-card-content">
        <h1>{{ house.title }}</h1>
        <p class="house-address">{{ house.street }}, {{ house.city }}</p>
        <p>In welke lijstjes wil je dit huis bewaren?</p>
        <form action="/favorieten/lijsten-beheren" method="POST" class="js-manage-lists-form">
            <input type="hidden" name="house_id" value="{{ house.id }}">
            <section class="list-options">
                <fieldset>
                    <legend hidden>Selecteer lijsten</legend>
                    {% for list in all_lists %}      
                        <label class="option-row">
                            <input type="checkbox" name="list_ids" value="{{ list.id }}" {% if list.is_included %}checked{% endif %}>
                            <span>{{ list.title }}</span>
                            <svg viewBox="0 0 64 64" height="1.5rem" width="1.5rem">
                                <path d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16" pathLength="575.0541381835938" class="path"></path>
                            </svg>
                        </label>
                    {% endfor %}
                </fieldset>
            </section>
            <section>
                <button type="submit" class="btn-submit-save">Lijsten bijwerken</button>
                <a href="/huizen/{{ house.city | slugify }}/{{ house.street | slugify }}/{{ house.slug }}" class="btn-cancel">Annuleren</a>
            </section>
        </form>
    </section>
</section>

{% endblock %}